<div class="content hidden" data-page="5">
    <div class="canvas">


        <!--型-->
        <div class="kataArea type1 select">
            <img class="kata1" src="./img/page05/kata2-1.png"/>
            <img class="kata1Select" src="./img/page05/kata1-1.png"/>
            <img class="kata1Text" src="./img/page05/text1.svg"/>
        </div>
        <div class="kataArea type2">
            <img class="kata2" src="./img/page05/kata2-2.png"/>
            <img class="kata2Select" src="./img/page05/kata1-2.png"/>
            <img class="kata2Text" src="./img/page05/text2.svg"/>
        </div>
        <div class="kataArea type3">
            <img class="kata3" src="./img/page05/kata2-3.png"/>
            <img class="kata3Select" src="./img/page05/kata1-3.png"/>
            <img class="kata3Text" src="./img/page05/text3.svg"/>
        </div>
        

        <!--クッキー生地-->
        <img class="base" src="./img/page05/base.svg"/>

        <!--型抜きしたクッキー-->
        <div class="cookieArea"></div>


        <!--タップエリア-->
        <div class="tapAreaKata type1" data-type="1"></div>
        <div class="tapAreaKata type2" data-type="2"></div>
        <div class="tapAreaKata type3" data-type="3"></div>
        <div class="tapAreaBase"></div>






        <!--型抜きしたクッキー-->
<!--         <img class="cookie1" src="./img/page05/cookie1-1.png"/>
        <img class="cookie2" src="./img/page05/cookie1-2.png"/>
        <img class="cookie3" src="./img/page05/cookie1-3.png"/> -->
    


        <!-- <img class="dummy" src="./img/page05/dummy.svg"/> -->
    </div>
</div>
