<div class="content hidden" data-page="9">
    <div class="canvas">
        <div class="message">さいごまでよんでくれて<br>ありがとう!!</div>
        <div class="message2">
            みつけたアクション&nbsp;&nbsp;<var id="num1">10</var><span>/<var id="num2">20</var></span>
            <img class="help" src="./img/common/help.svg"/>
        </div>
        <table id="actionTable" class="actionTable">
            <tr>
                <th>表紙</th>
                <th>1p</th>
                <th>2p</th>
                <th>3p</th>
                <th>4p</th>
                <th>5p</th>
                <th>6p</th>
                <th>7p</th>
                <th>8p</th>
            </tr>
            <tr class="jsData">
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </table>
        <a href="./create" class="button">オリジナル写真を作る(大人向け)</a>
    </div>
</div>
