<div class="content hidden" data-page="1">
<div class="canvas">
		<img src="./img/char/cookie_monster/1/body.svg" alt="" class="body">
        <div class="armAnim jsArmAnim">
            <img src="./img/char/cookie_monster/1/box.svg" alt="" class="box jsBox">
    		<img src="./img/char/cookie_monster/1/arm.svg" alt="" class="arm">
        </div>
        <div class="sholder"></div>
        <img src="./img/char/cookie_monster/1/eye.svg" alt="" class="eye hidden jsEye">
        <div class="drop1Anim">
		      <img src="./img/char/cookie_monster/1/drop1.svg" alt="" class="drop1 jsDrop">
        </div>
        <div class="drop2Anim">
		      <img src="./img/char/cookie_monster/1/drop1.svg" alt="" class="drop2 jsDrop">
        </div>
        <div class="drop3Anim">
		      <img src="./img/char/cookie_monster/1/drop1.svg" alt="" class="drop3 jsDrop">
        </div>
        <div class="drop4Anim">
		      <img src="./img/char/cookie_monster/1/drop2.svg" alt="" class="drop4 jsDrop">
        </div>
        <div class="drop5Anim">
		      <img src="./img/char/cookie_monster/1/drop2.svg" alt="" class="drop5 jsDrop">
        </div>
        <div class="drop6Anim">
		      <img src="./img/char/cookie_monster/1/drop2.svg" alt="" class="drop6 jsDrop">
        </div>



        <div class="boxTap jsBoxTap"></div>
        <div class="bodyTap jsBodyTap"></div>
</div>
</div>
