<div class="content hidden" data-page="1">
<div class="canvas">
		<img src="./img/char/cookie_monster/1/body.svg" alt="" class="body">
        <img src="./img/char/cookie_monster/1/box.svg" alt="" class="box">
		<img src="./img/char/cookie_monster/1/arm.svg" alt="" class="arm">
		<img src="./img/char/cookie_monster/1/drop1.svg" alt="" class="drop1">
		<img src="./img/char/cookie_monster/1/drop1.svg" alt="" class="drop2">
		<img src="./img/char/cookie_monster/1/drop1.svg" alt="" class="drop3">
		<img src="./img/char/cookie_monster/1/drop2.svg" alt="" class="drop4">
		<img src="./img/char/cookie_monster/1/drop2.svg" alt="" class="drop5">
		<img src="./img/char/cookie_monster/1/drop2.svg" alt="" class="drop6">

		<div class="dummyText">アニメーション制作中...</div>
</div>
</div>
