<div class="content hidden" data-page="1">
<div class="canvas">
		<img src="./img/char/cookie_monster/1/body.svg" alt="" class="body">
        <div class="armAnim">
            <img src="./img/char/cookie_monster/1/box.svg" alt="" class="box jsBox">
    		<img src="./img/char/cookie_monster/1/arm.svg" alt="" class="arm">
        </div>
        <div class="sholder"></div>
        <div class="drop1Anim">
		      <img src="./img/char/cookie_monster/1/drop1.svg" alt="" class="drop1">
        </div>
        <div class="drop2Anim">
		      <img src="./img/char/cookie_monster/1/drop1.svg" alt="" class="drop2">
        </div>
        <div class="drop3Anim">
		      <img src="./img/char/cookie_monster/1/drop1.svg" alt="" class="drop3">
        </div>
        <div class="drop4Anim">
		      <img src="./img/char/cookie_monster/1/drop2.svg" alt="" class="drop4">
        </div>
        <div class="drop5Anim">
		      <img src="./img/char/cookie_monster/1/drop2.svg" alt="" class="drop5">
        </div>
        <div class="drop6Anim">
		      <img src="./img/char/cookie_monster/1/drop2.svg" alt="" class="drop6">
        </div>



        <div class="boxTap jsBoxTap"></div>
</div>
</div>
