<div class="content hidden" data-page="4">
    <div class="canvas">

        <img class="description" src="./img/page04/description.svg"/>

        <img class="bowl" src="./img/page04/bowl.svg"/>
        <div class="materialArea">
            <img class="material" src="./img/page04/material.svg"/>
        </div>

        <div class="butterArea">
            <img class="butter" src="./img/page04/butter.png"/>
            <img class="text1" src="./img/page04/text1.svg"/>
        </div>

        <div class="sugerArea">
            <img class="suger" src="./img/page04/suger.png"/>
            <img class="text2" src="./img/page04/text2.svg"/>
        </div>

        <div class="eggArea">
            <img class="egg" src="./img/page04/egg.png"/>
            <img class="text3" src="./img/page04/text3.svg"/>
        </div>

        <div class="flourArea">
            <img class="flour" src="./img/page04/flour.png"/>
            <img class="text4" src="./img/page04/text4.svg"/>
        </div>

        <div class="chocoArea">
            <img class="choco" src="./img/page04/choco.png"/>
            <img class="text5" src="./img/page04/text5.svg"/>
        </div>


        <div class="handArea1">
            <img src="./img/common/pointer.svg" class="pointer"/>
            <img src="./img/common/hand.svg" class="hand"/>
        </div>
        <div class="handArea2">
            <img src="./img/common/pointer.svg" class="pointer"/>
            <img src="./img/common/hand.svg" class="hand"/>
        </div>
        <div class="handArea3">
            <img src="./img/common/pointer.svg" class="pointer"/>
            <img src="./img/common/hand.svg" class="hand"/>
        </div>
        <div class="handArea4">
            <img src="./img/common/pointer.svg" class="pointer"/>
            <img src="./img/common/hand.svg" class="hand"/>
        </div>
        <div class="handArea5">
            <img src="./img/common/pointer.svg" class="pointer"/>
            <img src="./img/common/hand.svg" class="hand"/>
        </div>

        
        <div class="tapButter"></div>
        <div class="tapSuger"></div>
        <div class="tapEgg"></div>
        <div class="tapFlour"></div>
        <div class="tapChoco"></div>
        <div class="tapBowl"></div>

    </div>
</div>
