<div class="content hidden" data-page="6">
    <div class="canvas">

        <!--レンジ、プレート、クッキー-->
        <img class="box" src="./img/page06/box.svg"/>
        <img class="plate" src="./img/page06/plate.svg"/>
        <img class="cookie pos1" src="./img/page06/cookie2-1.png"/>
        <img class="cookie pos2" src="./img/page06/cookie2-1.png"/>
        <img class="cookie pos3" src="./img/page06/cookie2-1.png"/>
        <img class="cookie pos4" src="./img/page06/cookie2-1.png"/>
        <img class="cookie pos5" src="./img/page06/cookie2-1.png"/>
        <img class="cookie pos6" src="./img/page06/cookie2-1.png"/>
        <img class="cookie pos7" src="./img/page06/cookie2-1.png"/>
        <img class="cookie pos8" src="./img/page06/cookie2-1.png"/>
        <img class="cookie pos9" src="./img/page06/cookie2-1.png"/>

        <!--カウントダウン-->
        <img class="num10 hidden" src="./img/page06/10.svg"/>
        <img class="num9 hidden" src="./img/page06/9.svg"/>
        <img class="num8 hidden" src="./img/page06/8.svg"/>
        <img class="num7 hidden" src="./img/page06/7.svg"/>
        <img class="num6 hidden" src="./img/page06/6.svg"/>
        <img class="num5 hidden" src="./img/page06/5.svg"/>
        <img class="num4 hidden" src="./img/page06/4.svg"/>
        <img class="num3 hidden" src="./img/page06/3.svg"/>
        <img class="num2 hidden" src="./img/page06/2.svg"/>
        <img class="num1 hidden" src="./img/page06/1.svg"/>

        <!--キャラ-->
        <img class="chara1 hidden" src="./img/page06/chara1.svg"/>
        <img class="chara2 hidden" src="./img/page06/chara2.svg"/>
        <img class="chara3 hidden" src="./img/page06/chara3.svg"/>
        <img class="chara4 hidden" src="./img/page06/chara4.svg"/>

        <!-- <img class="dummy" src="./img/page06/dummy.svg"/> -->
    </div>
</div>
