<div class="content hidden" data-page="6">
    <div class="canvas">

        <!--説明-->
        <img class="description" src="./img/page06/description.svg"/>

        <!--レンジ-->
        <img class="box" src="./img/page06/box.svg"/>

        <!--プレート、クッキー-->
        <div class="plateArea">
            <img class="plate" src="./img/page06/plate.svg"/>
            <img class="cookie pos1" src="./img/cookie/cookie2-1.png"/>
            <img class="cookie pos2" src="./img/cookie/cookie2-2.png"/>
            <img class="cookie pos3" src="./img/cookie/cookie2-3.png"/>
            <img class="cookie pos4" src="./img/cookie/cookie2-1.png"/>
            <img class="cookie pos5" src="./img/cookie/cookie2-2.png"/>
            <img class="cookie pos6" src="./img/cookie/cookie2-3.png"/>
            <img class="cookie pos7" src="./img/cookie/cookie2-1.png"/>
            <img class="cookie pos8" src="./img/cookie/cookie2-2.png"/>
            <img class="cookie pos9" src="./img/cookie/cookie2-3.png"/>
        </div>

        <!--カウントダウン-->
        <img class="num num10 hidden" src="./img/page06/10.svg"/>
        <img class="num num9 hidden" src="./img/page06/9.svg"/>
        <img class="num num8 hidden" src="./img/page06/8.svg"/>
        <img class="num num7 hidden" src="./img/page06/7.svg"/>
        <img class="num num6 hidden" src="./img/page06/6.svg"/>
        <img class="num num5 hidden" src="./img/page06/5.svg"/>
        <img class="num num4 hidden" src="./img/page06/4.svg"/>
        <img class="num num3 hidden" src="./img/page06/3.svg"/>
        <img class="num num2 hidden" src="./img/page06/2.svg"/>
        <img class="num num1 hidden" src="./img/page06/1.svg"/>

        <!--キャラ-->
        <img class="chara chara1 hidden" src="./img/page06/abby1.svg"/>
        <img class="chara chara2 hidden" src="./img/page06/abby2.svg"/>


        <!--タップエリア-->
        <div class="tapAreaCount"></div>
        <div class="tapAreaButton"></div>


    </div>
</div>
