<div class="content hidden" data-page="7">
    <div class="canvas">
        <img class="cookieMonster" src="./img/page07/cookie_monster.svg"/>
        <img class="bert" src="./img/page07/bert.svg"/>
        <img class="bigBird" src="./img/page07/big_bird.svg"/>
        <img class="cookie cookie1" src="./img/cookie/cookie1-1.png"/>
        <img class="cookie cookie2" src="./img/cookie/cookie1-2.png"/>
        <img class="cookie cookie3" src="./img/cookie/cookie1-3.png"/>
        <img class="cookie cookie4" src="./img/cookie/cookie1-1.png"/>
        <img class="cookie cookie5" src="./img/cookie/cookie1-2.png"/>
        <img class="elmo" src="./img/page07/elmo.svg"/>
        <img class="oscar" src="./img/page07/oscar.svg"/>
        <img class="text" src="./img/page07/text.svg"/>

        <div class="tapArea"></div>
    </div>
</div>
