<div class="content hidden" data-page="7">
    <div class="canvas">
        <img class="cookieMonster" src="./img/page07/cookie_monster.svg"/>
        <img class="bert" src="./img/page07/bert.svg"/>
        <img class="bigBird" src="./img/page07/big_bird.svg"/>
        <img class="cookie1" src="./img/page07/cookie.svg"/>
        <img class="cookie2" src="./img/page07/cookie.svg"/>
        <img class="cookie3" src="./img/page07/cookie.svg"/>
        <img class="cookie4" src="./img/page07/cookie.svg"/>
        <img class="cookie5" src="./img/page07/cookie.svg"/>
        <img class="elmo" src="./img/page07/elmo.svg"/>
        <img class="oscar" src="./img/page07/oscar.svg"/>
        <img class="text" src="./img/page07/text.svg"/>
    </div>
</div>
