<div class="content hidden" data-page="2">
    <div class="canvas">

        <!-- Cookie Monster -->
        <div class="cookie-monster jsCMArea">
            <img class="cookie-monster__body" src="./img/page02/cookie_monster/body.svg">
            <img class="cookie-monster__eye" src="./img/page02/cookie_monster/eye-1.svg">
            <img class="cookie-monster__mouse" src="./img/page02/cookie_monster/mouse-1.svg">
            <img class="cookie-monster__hand" src="./img/page02/cookie_monster/hand.svg">
            <!-- <img class="cookie-monster__move" src="./img/page02/cookie_monster/move.svg"> -->
            <img class="jsCMTears cookie-monster__tear-l-1 hidden" src="./img/page02/cookie_monster/tear-l-1.svg">
            <img class="jsCMTears cookie-monster__tear-l-2 hidden" src="./img/page02/cookie_monster/tear-l-2.svg">
            <img class="jsCMTears cookie-monster__tear-l-3 hidden" src="./img/page02/cookie_monster/tear-l-3.svg">
            <img class="jsCMTears cookie-monster__tear-r-1 hidden" src="./img/page02/cookie_monster/tear-r-1.svg">
            <img class="jsCMTears cookie-monster__tear-r-2 hidden" src="./img/page02/cookie_monster/tear-r-2.svg">
            <img class="jsCMTears cookie-monster__tear-r-3 hidden" src="./img/page02/cookie_monster/tear-r-3.svg">
            <img class="jsCMTips cookie-monster__tips-1" src="./img/page02/cookie_monster/tips-1.svg">
            <img class="jsCMTips cookie-monster__tips-2" src="./img/page02/cookie_monster/tips-2.svg">
        </div>
        <!-- Cookie Monster -->

        <!-- 水たまり＋クッキー -->
        <div class="pool">
            <img class="pool__water" src="./img/page02/pool/pool.svg">
            <div class="pool__cookie--1">
                <img class="pool__cookie" src="./img/page02/pool/cookie.svg">
                <img class="pool__cookie-move--1" src="./img/page02/pool/move-1.svg">
                <img class="pool__cookie-move--2" src="./img/page02/pool/move-2.svg">
            </div>
            <div class="pool__cookie--2">
                <img class="pool__cookie" src="./img/page02/pool/cookie.svg">
                <img class="pool__cookie-move--1" src="./img/page02/pool/move-1.svg">
                <img class="pool__cookie-move--2" src="./img/page02/pool/move-2.svg">
            </div>
            <div class="pool__cookie--3">
                <img class="pool__cookie" src="./img/page02/pool/cookie.svg">
                <img class="pool__cookie-move--1" src="./img/page02/pool/move-1.svg">
                <img class="pool__cookie-move--2" src="./img/page02/pool/move-2.svg">
            </div>
            <img class="jsCaution pool__caution hidden" src="./img/page02/text/caution.svg">
        </div>
        <!-- 水たまり＋クッキー -->

        <!-- ビッグバード -->
        <div class="bigbird jsBBArea">
            <img class="bigbird__body" src="./img/page02/big_bird/body.svg">
        </div>
        <!-- ビッグバード -->

        <!-- エルモ -->
        <div class="elmo jsElmoArea">
            <img class="elmo__body" src="./img/page02/elmo/body.svg">
        </div>
        <!-- エルモ -->

        <!-- バート -->
        <div class="bert jsBertArea">
            <img class="bert__body" src="./img/page02/bert/body.svg">
        </div>
        <!-- バート -->

        <!-- オスカー -->
        <div class="oscar jsOscarArea">
            <img class="jsOscarFace oscar__face hidden" src="./img/page02/oscar/face.svg">
            <img class="jsOscarHand_r oscar__hand--r hidden" src="./img/page02/oscar/hand-r.svg">
            <img class="oscar__baketsu" src="./img/page02/oscar/baketsu.svg">
            <img class="jsOscarHand_l oscar__hand--l hidden" src="./img/page02/oscar/hand-l.svg">
            <img class="jsOscarFuta oscar__futa" src="./img/page02/oscar/futa.svg">
<!--             <img class="oscar__body" src="./img/page02/oscar/body.svg">
            <img class="oscar__body" src="./img/page02/oscar/body.svg"> -->
            <!-- <img class="oscar__body" src="./img/page02/oscar/body.svg" style="opacity:0.4;"> -->
        </div>
        <!-- オスカー -->

        <!-- 吹き出し -->
        <div class="fukidashi jsFkidashiArea hidden">
            <img class="fukidashi__balloon" src="./img/page02/balloon/balloon.svg">
            <img class="fukidashi__em" src="./img/page02/balloon/em.svg">
            <img class="fukidashi__circle--1" src="./img/page02/balloon/circle-1.svg">
            <img class="fukidashi__circle--2" src="./img/page02/balloon/circle-2.svg">
        </div>
        <!-- 吹き出し -->

        <!-- タップエリア -->
        <div class="tapWater jsPoolAreaTap"></div>
        <!-- タップエリア -->


    </div>
</div>


