<div class="content hidden" data-page="2">
    <div class="canvas">

        <!-- Cookie Monster -->
        <div class="cookie-monster jsCMArea">
            <img class="cookie-monster__body" src="./img/page02/cookie_monster/body.svg">
            <img class="cookie-monster__eye" src="./img/page02/cookie_monster/eye-1.svg">
            <img class="cookie-monster__mouse" src="./img/page02/cookie_monster/mouse-1.svg">
            <img class="cookie-monster__hand" src="./img/page02/cookie_monster/hand.svg">
            <img class="cookie-monster__move" src="./img/page02/cookie_monster/move.svg">
            <img class="cookie-monster__tear-l-1" src="./img/page02/cookie_monster/tear-l-1.svg">
            <img class="cookie-monster__tear-l-2" src="./img/page02/cookie_monster/tear-l-2.svg">
            <img class="cookie-monster__tear-l-3" src="./img/page02/cookie_monster/tear-l-3.svg">
            <img class="cookie-monster__tear-r-1" src="./img/page02/cookie_monster/tear-r-1.svg">
            <img class="cookie-monster__tear-r-2" src="./img/page02/cookie_monster/tear-r-2.svg">
            <img class="cookie-monster__tear-r-3" src="./img/page02/cookie_monster/tear-r-3.svg">
            <img class="cookie-monster__tips-1" src="./img/page02/cookie_monster/tips-1.svg">
            <img class="cookie-monster__tips-2" src="./img/page02/cookie_monster/tips-2.svg">
        </div>
        <!-- Cookie Monster -->

        <!-- 水たまり＋クッキー -->
        <div class="pool jsPoolArea">
            <img class="pool__water" src="./img/page02/pool/pool.svg">
            <div class="pool__cookie--1">
                <img class="pool__cookie" src="./img/page02/pool/cookie.svg">
                <img class="pool__cookie-move--1" src="./img/page02/pool/move-1.svg">
                <img class="pool__cookie-move--2" src="./img/page02/pool/move-2.svg">
            </div>
            <div class="pool__cookie--2">
                <img class="pool__cookie" src="./img/page02/pool/cookie.svg">
                <img class="pool__cookie-move--1" src="./img/page02/pool/move-1.svg">
                <img class="pool__cookie-move--2" src="./img/page02/pool/move-2.svg">
            </div>
            <div class="pool__cookie--3">
                <img class="pool__cookie" src="./img/page02/pool/cookie.svg">
                <img class="pool__cookie-move--1" src="./img/page02/pool/move-1.svg">
                <img class="pool__cookie-move--2" src="./img/page02/pool/move-2.svg">
            </div>
        </div>
        <!-- 水たまり＋クッキー -->

    </div>
</div>


