<div class="content hidden" data-page="0">
    <div class="canvas">

        <div class="logoArea jsLogo">
            <img class="logo" src="./img/page00/logo.svg"/>
        </div>
        <div class="wordWrapper" data-pos="1">
            <img class="word01" src="./img/page00/title/word01.svg"/>
        </div>
        <div class="wordWrapper" data-pos="2">
            <img class="word02" src="./img/page00/title/word02.svg"/>
        </div>
        <div class="wordWrapper" data-pos="3">
            <img class="word03" src="./img/page00/title/word03.svg"/>
        </div>
        <div class="wordWrapper" data-pos="4">
            <img class="word04" src="./img/page00/title/word04.svg"/>
        </div>
        <div class="wordWrapper" data-pos="5">
            <img class="word05" src="./img/page00/title/word05.svg"/>
        </div>
        <div class="wordWrapper" data-pos="6">
            <img class="word06" src="./img/page00/title/word06.svg"/>
        </div>
        <div class="wordWrapper" data-pos="7">
            <img class="word07" src="./img/page00/title/word07.svg"/>
        </div>
        <div class="wordWrapper" data-pos="8">
            <img class="word08" src="./img/page00/title/word08.svg"/>
        </div>
        <div class="wordWrapper" data-pos="9">
            <img class="word09" src="./img/page00/title/word09.svg"/>
        </div>
        <div class="wordWrapper" data-pos="10">
            <img class="word10" src="./img/page00/title/word10.svg"/>
        </div>
        <div class="wordWrapper" data-pos="11">
            <img class="word11" src="./img/page00/title/word11.svg"/>
        </div>
        <div class="wordWrapper" data-pos="12">
            <img class="word12" src="./img/page00/title/word12.svg"/>
        </div>
        <div class="wordWrapper" data-pos="13">
            <img class="word13" src="./img/page00/title/word13.svg"/>
        </div>
        <div class="wordWrapper" data-pos="14">
            <img class="word14" src="./img/page00/title/word14.svg"/>
        </div>
        <div class="wordWrapper" data-pos="15">
            <img class="word15" src="./img/page00/title/word15.svg"/>
        </div>
        <!--<img class="title" src="./img/page00/title.svg"/>-->


        <!--オスカー-->
        <div class="oscarArea jsOscarAnim">
            <div class="osShadowAnim">
                <img class="osShadow" src="./img/page00/oscar/shadow.svg"/>
            </div>
            <div class="osBodyAnim">
                <img class="osBody" src="./img/page00/oscar/body.svg"/>
            </div>
            <div class="osFaceAnim">
                <img class="osFace" src="./img/page00/oscar/face.svg"/>
            </div>
            <div class="osLeftArmAnim">
                <img class="osLeftArm" src="./img/page00/oscar/left_arm.svg"/>
            </div>
            <div class="osBoxAnim">
                <img class="osBox" src="./img/page00/oscar/box.svg"/>
            </div>
            <div class="osRightArmAnim">
                <img class="osRightArm" src="./img/page00/oscar/right_arm.svg"/>
            </div>
            <div class="osCoverAnim2">
                <div class="osCoverAnim">
                    <img class="osCover" src="./img/page00/oscar/cover.svg"/>
                </div>
            </div>
        </div>
        <!-- <img class="oscar" src="./img/page00/oscar.svg"/> -->



        <img class="bertShadow" src="./img/page00/bert/shadow.svg"/>
        <img class="jsBert bertBody" src="./img/page00/bert/bert.svg"/>
        <img class="jsBert bertBody2 hidden" src="./img/page00/bert/bert2.svg"/>
        <!-- <img class="bert" src="./img/page00/bert.svg"/> -->




        <div class="cmArea jsCmArea">
            <img class="cmShadow" src="./img/page00/cookie_monster/shadow.svg"/>
            <img class="cmArm2" src="./img/page00/cookie_monster/arm2.svg"/>
            <img class="cmBin" src="./img/page00/cookie_monster/bin.svg"/>
            <img class="cmBody" src="./img/page00/cookie_monster/body.svg"/>
            <img class="cmMouse1 hidden jsCmMouse" src="./img/page00/cookie_monster/mouse1.svg"/>
            <img class="cmMouse2 jsCmMouse" src="./img/page00/cookie_monster/mouse2.svg"/>
            <div class="animCmArm1">
                <img class="cmArm1" src="./img/page00/cookie_monster/arm1.svg"/>
            </div>
            <img class="cmCookie" src="./img/page00/cookie_monster/cookie.svg"/>
        </div>

        <!-- <img class="cookieMonster" src="./img/page00/cookie_monster.svg"/> -->




        <!-- <img class="elmo" src="./img/page00/elmo.svg"/> -->
        <img class="elShadow" src="./img/page00/elmo/shadow.svg"/>
        <img class="elBody1 jsElBody" src="./img/page00/elmo/body1.svg"/>
        <img class="elBody2 hidden jsElBody" src="./img/page00/elmo/body2.svg"/>





        <!-- <img class="bigBird" src="./img/page00/big_bird.svg"/> -->
        <img class="bbShadow" src="./img/page00/big_bird/shadow.svg"/>
        <img class="bbBody1 jsBigBird" src="./img/page00/big_bird/body1.svg"/>
        <img class="bbBody2 hidden jsBigBird" src="./img/page00/big_bird/body2.svg"/>

        <!--TapArea-->
        <div class="tapLogo"></div>
        <div class="tapWord pos1" data-pos="1"></div>
        <div class="tapWord pos2" data-pos="2"></div>
        <div class="tapWord pos3" data-pos="3"></div>
        <div class="tapWord pos4" data-pos="4"></div>
        <div class="tapWord pos5" data-pos="5"></div>
        <div class="tapWord pos6" data-pos="6"></div>
        <div class="tapWord pos7" data-pos="7"></div>
        <div class="tapWord pos8" data-pos="8"></div>
        <div class="tapWord pos9" data-pos="9"></div>
        <div class="tapWord pos10" data-pos="10"></div>
        <div class="tapWord pos11" data-pos="11"></div>
        <div class="tapWord pos12" data-pos="12"></div>
        <div class="tapWord pos13" data-pos="13"></div>
        <div class="tapWord pos14" data-pos="14"></div>
        <div class="tapWord pos15" data-pos="15"></div>
        <div class="tapOscar"></div>
        <div class="tapBert"></div>
        <div class="tapCookieMonster"></div>
        <div class="tapElmo"></div>
        <div class="tapBigBird"></div>

    </div>
</div>

