<div class="content hidden" data-page="0">
    <div class="canvas">
        
        <div class="logoArea jsLogo">
            <img class="logo" src="./img/page00/logo.svg"/>
        </div>
        <div class="wordWrapper" data-pos="1">
            <img class="word01" src="./img/page00/word01.svg"/>
        </div>
        <div class="wordWrapper" data-pos="2">
            <img class="word02" src="./img/page00/word02.svg"/>
        </div>
        <div class="wordWrapper" data-pos="3">
            <img class="word03" src="./img/page00/word03.svg"/>
        </div>
        <div class="wordWrapper" data-pos="4">
            <img class="word04" src="./img/page00/word04.svg"/>
        </div>
        <div class="wordWrapper" data-pos="5">
            <img class="word05" src="./img/page00/word05.svg"/>
        </div>
        <div class="wordWrapper" data-pos="6">
            <img class="word06" src="./img/page00/word06.svg"/>
        </div>
        <div class="wordWrapper" data-pos="7">
            <img class="word07" src="./img/page00/word07.svg"/>
        </div>
        <div class="wordWrapper" data-pos="8">
            <img class="word08" src="./img/page00/word08.svg"/>
        </div>
        <div class="wordWrapper" data-pos="9">
            <img class="word09" src="./img/page00/word09.svg"/>
        </div>
        <div class="wordWrapper" data-pos="10">
            <img class="word10" src="./img/page00/word10.svg"/>
        </div>
        <div class="wordWrapper" data-pos="11">
            <img class="word11" src="./img/page00/word11.svg"/>
        </div>
        <div class="wordWrapper" data-pos="12">
            <img class="word12" src="./img/page00/word12.svg"/>
        </div>
        <div class="wordWrapper" data-pos="13">
            <img class="word13" src="./img/page00/word13.svg"/>
        </div>
        <div class="wordWrapper" data-pos="14">
            <img class="word14" src="./img/page00/word14.svg"/>
        </div>
        <div class="wordWrapper" data-pos="15">
            <img class="word15" src="./img/page00/word15.svg"/>
        </div>
        <!--<img class="title" src="./img/page00/title.svg"/>-->

        <img class="oscar" src="./img/page00/oscar.svg"/>
        <img class="bert" src="./img/page00/bert.svg"/>
        <img class="cookieMonster" src="./img/page00/cookie_monster.svg"/>
        <img class="elmo" src="./img/page00/elmo.svg"/>
        <img class="bigBird" src="./img/page00/big_bird.svg"/>

        <!--TapArea-->
        <div class="tapLogo"></div>
        <div class="tapWord pos1" data-pos="1"></div>
        <div class="tapWord pos2" data-pos="2"></div>
        <div class="tapWord pos3" data-pos="3"></div>
        <div class="tapWord pos4" data-pos="4"></div>
        <div class="tapWord pos5" data-pos="5"></div>
        <div class="tapWord pos6" data-pos="6"></div>
        <div class="tapWord pos7" data-pos="7"></div>
        <div class="tapWord pos8" data-pos="8"></div>
        <div class="tapWord pos9" data-pos="9"></div>
        <div class="tapWord pos10" data-pos="10"></div>
        <div class="tapWord pos11" data-pos="11"></div>
        <div class="tapWord pos12" data-pos="12"></div>
        <div class="tapWord pos13" data-pos="13"></div>
        <div class="tapWord pos14" data-pos="14"></div>
        <div class="tapWord pos15" data-pos="15"></div>

    </div>
</div>

