<div class="content hidden" data-page="0">
    <div class="canvas">
        
        <div class="logoArea jsLogo">
            <img class="logo" src="./img/page00/logo.svg"/>
        </div>
        <img class="title" src="./img/page00/title.svg"/>
        <img class="oscar" src="./img/page00/oscar.svg"/>
        <img class="bert" src="./img/page00/bert.svg"/>
        <img class="cookieMonster" src="./img/page00/cookie_monster.svg"/>
        <img class="elmo" src="./img/page00/elmo.svg"/>
        <img class="bigBird" src="./img/page00/big_bird.svg"/>

    </div>
</div>

