<div class="content hidden" data-page="8">
    <div class="canvas">

        <!-- bigBird -->
        <div class="bigBirdArea jsBigBirdArea">
            <img class="bigBird-hand" src="./img/page08/bigBird/hand.svg">
            <img class="bigBird-body jsBigBirdBody" src="./img/page08/bigBird/body.svg">
            <img class="bigBird-mouth_2 close hidden" src="./img/page08/bigBird/mouth_2_2.svg">
            <img class="bigBird-mouth_2 open" src="./img/page08/bigBird/mouth_2_1.svg">
            <img class="bigBird-mouth" src="./img/page08/bigBird/mouth.svg">
        </div>

        <!-- elmo -->
        <div class="elmoArea jsElmoArea">
            <img class="elmo-body jsElmoBody" src="./img/page08/elmo/body.svg">
            <img class="elmo-hand" src="./img/page08/elmo/hand.svg">
        </div>


        <div class="cookiemonsterArea jsCookiemonsterArea">
            <img class="cookiemonster-body" src="./img/page08/cookiemonster/body.svg">
            <img class="cookiemonster-eye left" src="./img/page08/cookiemonster/eye.svg">
            <img class="cookiemonster-eye right" src="./img/page08/cookiemonster/eye.svg">
            <!--クッキーたち-->
            <img src="./img/cookie/cookie2-1.png" alt="" class="jsCookie cookie1">
            <img src="./img/cookie/cookie2-2.png" alt="" class="jsCookie cookie2">
            <img src="./img/cookie/cookie2-3.png" alt="" class="jsCookie cookie3">
            <img src="./img/cookie/cookie2-1.png" alt="" class="jsCookie cookie4">
            <img src="./img/cookie/cookie2-2.png" alt="" class="jsCookie cookieAnimation cookie5">
            <img src="./img/cookie/cookie2-3.png" alt="" class="jsCookie cookieAnimation cookie6">
            <img src="./img/cookie/cookie2-1.png" alt="" class="jsCookie cookieAnimation cookie7">
            <img src="./img/cookie/cookie2-2.png" alt="" class="jsCookie cookieAnimation cookie8">
            <img src="./img/cookie/cookie2-3.png" alt="" class="jsCookie cookieAnimation cookie9">
            <img src="./img/cookie/cookie2-1.png" alt="" class="jsCookie cookieAnimation cookie10">
            <img src="./img/cookie/cookie2-2.png" alt="" class="jsCookie cookieAnimation cookie11">
            <img src="./img/cookie/cookie2-3.png" alt="" class="jsCookie cookieAnimation cookie12">
            <img src="./img/cookie/cookie2-1.png" alt="" class="jsCookie cookieAnimation cookie13">
            <img src="./img/cookie/cookie2-2.png" alt="" class="jsCookie cookieAnimation cookie14">
            <img class="cookiemonster-hand jsCookiemonsterHand" src="./img/page08/cookiemonster/hand.svg">
        </div>

        <!-- bert -->
        <div class="bertArea jsBertArea">
            <img class="bert-hand" src="./img/page08/bert/hand.svg">
            <img class="bert-body" src="./img/page08/bert/body.svg">
            <img class="bert-hair" src="./img/page08/bert/hair.svg">
        </div>

        <!--タップエリア-->
        <div class="bigBirdAreaTap jsBigBirdAreaTap"></div>
        <div class="elmoAreaTap jsElmoAreaTap"></div>
        <div class="cookieMonsterAreaTap jsCookieMonsterAreaTap"></div>

        <!-- oscar -->
        <div class="oscarArea jsOscarArea" id="jsOscarAreaId">
            <img class="oscar-body type1 jsOscar" src="./img/page08/oscar/body.svg">
            <img class="oscar-body type2 jsOscar hidden" src="./img/page08/oscar/body2.svg">
        </div>

    </div>
</div>
