//
// Common.scssを作ってみましたが、肥大化しそうだったら、ファイル分割とかしましょー。（宗）
//

html {
	width: 100%;
	height: 100%;
}
body {
	background-color: #d8efe2;
	width: 100%;
	height: 100%;
}
#container {
	width: 100%;
	height: 100%;
	min-height: 100%;
}
body > #container {
	height: auto;
	&.iphone7_1 { // minimal-uiのバグ対応
		height: 140%;
		padding-top: 11%;
	}
}

* {
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

audio {
	position: absolute;
	top: -9999px;
	left: -9999px;
}



// 各ページ
.content {
	position: relative;
	width: 100%;
	height: 100%;
	background: url("../img/book.svg") no-repeat;
	@include background-size(100% 100%);
}

// 各ページのBookの湾曲とかを考慮した作業スペース
.canvas {
	position: absolute;
	width: 92.6%;
	height: 89.3%;
	margin: 2.7% 0 0 4.1%;
	overflow: hidden;
}





.hidden {display: none !important;}
.noAction {pointer-events: none;}
.taCenter {text-align: center;}
