//
// Common.scssを作ってみましたが、肥大化しそうだったら、ファイル分割とかしましょー。（宗）
//


body {
	background-color: #d8efe2;
}

* {
	-webkit-user-select: none;
}

audio {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

// 各ページ
.content {
	position: relative;
	background: url("../img/book.svg") no-repeat;
	@include background-size(100% 100%);
}

// 各ページのBookの湾曲とかを考慮した作業スペース
.canvas {
	position: absolute;
	width: 92.6%;
	height: 89.3%;
	margin: 2.7% 0 0 4.1%;
	overflow: hidden;
}





.hidden {display: none !important;}
.noAction {pointer-events: none;}
