//
// page00のスタイル
//
@import "./page_00_logo";
@import "./page_00_title";
@import "./page_00_oscar";
@import "./page_00_cookiemonster";





// スタイルの指定
[data-page="0"] {


    .bertBody {
        @include abs(55.5%, 21.2%);
        width: 17%;
    }
    .bertBody2 {
        @include abs(53.4%, 21.2%);
        width: 17%;
    }
    .bertShadow {
        @include abs(88.1%, 22%);
        width: 14%;
    }
    .tapBert {
        @include abs(57.1%, 22%);
        width: 15.8%;
        height: 38%;
        background-color: rgba(255,255,255,.01);
    }






    // .elmo {
    //     position: absolute;
    //     top: 58.8%;
    //     left: 56%;
    //     width: 21%;
    //     opacity: .5;
    // }
    .elShadow {
        @include abs(85.5%, 59.2%);
        width: 14.5%;
    }
    .elBody1 {
        @include abs(58.8%, 56%);
        width: 21%;
    }
    .elBody2 {
        @include abs(61.5%, 58.3%);
        width: 15%;
    }
    .tapElmo {
        @include abs(57.1%, 58%);
        width: 16%;
        height: 38%;
        background-color: rgba(255,255,255,.01);        
    }











    // .bigBird {
    //     position: absolute;
    //     top: 56%;
    //     left: 73.4%;
    //     width: 21%;
    //     opacity: .5;
    // }
    .bbShadow {
        @include abs(88.5%, 77.2%);
        width: 14.5%;        
    }
    .bbBody1 {
        position: absolute;
        top: 56%;
        left: 73.4%;
        width: 21%;        
    }
    .bbBody2 {
        position: absolute;
        top: 55%;
        left: 73.4%;
        width: 21%;                
    }
    .tapBigBird {
        @include abs(57.1%, 74.8%);
        width: 19%;
        height: 38%;
        background-color: rgba(255,255,255,.01);        
    }



















}