// page09

[data-page="9"] {


    .message {
        padding-top: 10%;
        font-size: 200%;
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
    }

    .message2 {
        margin-top: 10%;
        text-align: center;
        font-size: 140%;
    }
    #num1 {
        font-size: 300%;
    }

    .button {
        @include appearance(none);
        display: block;
        width: 80%;
        height: 80px;
        margin: 10% auto 0;
        border-radius: 6px;
        font-size: 200%;
        font-wieght: bold;
        letter-spacing: -0.12em;
        @include text-shadow(1px 1px 1px rgba(255,255,255,.3));
        background-color: blue;
        color: white;
        @include box-shadow(2px 2px 2px rgba(0,0,0,.8));
        text-align: center;
        line-height: 80px;
        text-decoration: none;

        .sp & {
            height: 40px;
            line-height: 40px;
            font-size: 100%;
        }
    }


}