// アニメーションのKeyframes
@include keyframes (page00_dummy) {
    0%   { @include rotateZ(0deg); }
    30%  { @include rotateZ(5deg); }
    50%  { @include rotateZ(-15deg); }
    65%  { @include rotateZ(-10deg); }
    80%  { @include rotateZ(-12deg); }
    100% { @include rotateZ(0deg); }
}



// スタイルの指定
[data-page="0"] {

    .logo {
        position: absolute;
        top: 2.9%;
        left: 25%;
        width: 45%;
    }

    .title { // フォントが違うので仮です（ムネ）
        position: absolute;
        top: 22%;
        left: 14%;
        width: 70%;
    }

    .oscar {
        position: absolute;
        top: 54.3%;
        left: 3.5%;
        width: 21.1%;
    }

    .bert {
        position: absolute;
        top: 55.5%;
        left: 20%;
        width: 17%;
    }

    .cookieMonster {
        position: absolute;
        top: 54.3%;
        left: 36.2%;
        width: 21.7%;
    }

    .elmo {
        position: absolute;
        top: 58.8%;
        left: 56%;
        width: 21%;
    }

    .bigBird {
        position: absolute;
        top: 56%;
        left: 73.4%;
        width: 21%;
    }
}