// アニメーションのKeyframes
@include keyframes (page08_dummy) {
    0%   { @include rotateZ(0deg); }
    30%  { @include rotateZ(5deg); }
    50%  { @include rotateZ(-15deg); }
    65%  { @include rotateZ(-10deg); }
    80%  { @include rotateZ(-12deg); }
    100% { @include rotateZ(0deg); }
}


@include keyframes (page08_bigBird_hand) {
    0%   { @include rotateZ(0deg); }
    50%   { @include rotateZ(30deg); }
    100%   { @include rotateZ(0deg); }
}

@include keyframes (page08_bert_hand) {
    0%   { @include rotateZ(0deg); }
    50%   { @include rotateZ(-30deg); }
    100%   { @include rotateZ(0deg); }
}

@include keyframes (page08_elmo_hand) {
    0%   { @include rotateZ(0deg); }
    50%   { @include rotateZ(-30deg); }
    100%   { @include rotateZ(0deg); }
}

@include keyframes (page08_shake) {
    0%   { @include translate(0,0); @include rotate(0deg); opacity: 0.9;}
    10%   { @include translate(5px,5px); @include rotate(-10deg); opacity: 1;}
    20%   { @include translate(18px, -17px); @include rotate(-5deg); opacity: 1;}
    30%   { @include translate(-15px, 2px); @include rotate(-3deg); opacity: 0.8;}
    40%   { @include translate(-9px, -4px); @include rotate(3deg); opacity: 1;}
    50%   { @include translate(17px, -7px); @include rotate(-5deg); opacity: 0.6;}
    60%   { @include translate(-20px, 10px); @include rotate(-3deg); opacity: 1;}
    70%   { @include translate(-18px, -4px); @include rotate(-1deg); opacity: 1;}
    80%   { @include translate(12px, 13px); @include rotate(6deg); opacity: 1;}
    90%   { @include translate(14px, 0px); @include rotate(8deg); opacity: 1;}
}

@include keyframes (page08_rotateY) {
    0%   { @include rotateY(0deg);}
    100%   { @include rotateY(180deg);}
    100%   { @include rotateY(0deg);}
}

@include keyframes (page08_rotateZ) {
    0%   { @include rotateZ(0deg); }
    10%   { @include rotateZ(-4deg); }
    20%   { @include rotateZ(4deg); }
    30%   { @include rotateZ(-4deg); }
    40%   { @include rotateZ(4deg); }
    50%   { @include rotateZ(-4deg); }
    60%   { @include rotateZ(4deg); }
    70%   { @include rotateZ(-4deg); }
    80%   { @include rotateZ(4deg); }
    90%   { @include rotateZ(-4deg); }
    100%   { @include rotateZ(0deg); }
}

@include keyframes (page08_skew) {
    0%   { @include skew(0deg,0deg); }
    10%   { @include skew(4deg,-4deg); }
    20%   { @include skew(-4deg,4deg); }
    30%   { @include skew(4deg,-4deg); }
    40%   { @include skew(-4deg,4deg); }
    50%   { @include skew(4deg,-4deg); }
    60%   { @include skew(-4deg,4deg); }
    70%   { @include skew(4deg,-4deg); }
    80%   { @include skew(-4deg,4deg); }
    90%   { @include skew(4deg,-4deg); }
    100%   { @include skew(0deg,0deg); }
}

@include keyframes (page08_eye_left) {
    50%  { top: 20%;left: 33.5%; }
}

@include keyframes (page08_eye_right) {
    50%  { top: 15%;left: 39.7%; }
}

@include keyframes (page08_CookieMonster_hand) {
  0%   { @include rotateZ(0deg); }
  50%  { @include rotateZ(-20deg);width: 23.6%; }
  100% { @include rotateZ(0deg); }
}

// スタイルの指定
[data-page="8"] {

    .cookiemonster-body {
        @include abs(9.8%, 24%);
        width: 51%;
    }

    .cookiemonster-hand {
        @include abs(38%, 34.5%);
        width: 26.5%;
        @include transform-origin( 0, 100% );
        @include animation(page08_CookieMonster_hand 1s ease-in-out infinite);
    }

    .cookiemonster-eye {
        width: 4%;
        &.left{
            @include abs(21%, 34.5%);
            @include animation(page08_eye_left 1s ease-in infinite);
        }
        &.right{
            @include abs(15%, 38.7%);
            @include animation(page08_eye_right 1s ease-in infinite);
        }
    }



    //bert
    .bert-body{
      width: 12.7%;
      @include abs(55%, 4.2%);
    }
    .bert-hand{
      width: 8.8%;
      @include abs(62.5%, 10.5%);
      @include transform-origin(0, 100%);
      @include animation(page08_bert_hand 1s ease-in infinite);
    }
    .bert-hair{
      width:6%;
      @include abs(50.8%, 5%);
    }

    .bertArea{
        &:hover .bert-hair path,
        &:active .bert-hair path{
            fill: #cc0000;
        }
    }

    //elmo

    .elmoArea.anime{
        position: static;
        @include animation(page08_skew 5s ease-in-out 1);
    }

    .elmo-body{
      width: 13%;
      @include abs(20.5%, 7.5%);
    }
    .elmo-hand{
      width: 7%;
      @include abs(32%, 16%);
      @include transform-origin(0, 100%);
      @include animation(page08_elmo_hand 1s ease-in infinite);
    }

    //bigBird
    .bigBirdArea.anime{
        position: static;
        @include animation(page08_rotateZ 1s ease-in-out 1);
    }
    .bigBird-body{
      width: 16.3%;
      @include abs(10%, 78%);
    }
    .bigBird-hand{
      width: 7.7%;
      @include abs(26%, 77%);
      @include transform-origin(100%, 20%);
      @include animation(page08_bigBird_hand 1s ease-in infinite);
    }
    .bigBird-mouth{
      width: 4.6%;
      @include abs(21.4%, 83%);
    }
    .bigBird-mouth_2{
      width: 4.5%;
      @include abs(22.6%, 83%);
      &.open{
      }
      &.close{
      }
    }

    //oscar
    .oscarArea{
        width: 17.5%;
        @include abs(56.6%, 77.7%);
        &.type2{
            width: 16.3%;
        }
    }
    .oscar-body{
        &.type1{
            width: 100%;
            // width: 17.6%;
            // @include abs(56.7%, 77.6%);
        }
        &.type2{
            width: 100%;
            margin-top: 51%;
            // width: 16.3%;
            // @include abs(68.7%, 77.6%);
        }
        &:active,
        &.active{
            @include animation(page08_shake 100ms ease-in-out infinite running);
        }
        &.hidden{
            visibility: hidden;
        }
    }

    .cookie1 {
        @include abs(44%, 66%);
        width: 10%;
    }
    .cookie2 {
        @include abs(47%, 69%);
        width: 10%;
    }
    .cookie3 {
        @include abs(41%, 63%);
        width: 10%;
    }
    .cookie4 {
        @include abs(41%, 68%);
        width: 10%;
    }
    .cookie5 {
        @include abs(20%, 52%);
        width: 10%;
    }
    .cookie6 {
        @include abs(24%, 42%);
        width: 8%;
    }
    .cookie7 {
        @include abs(33%, 36%);
        width: 8%;
    }
    .cookie8 {
        @include abs(41%, 41%);
        width: 6%;
    }
    .cookie9 {
        @include abs(34%, 48%);
        width: 5%;
    }
    .cookie10 {
        @include abs(32%, 56%);
        width: 6%;
    }
    .cookie11 {
        @include abs(15%, 48%);
        width: 5%;
    }
    .cookie12 {
        @include abs(24%, 40%);
        width: 3%;
    }
    .cookie13 {
        @include abs(27%, 33%);
        width: 5%;
    }
    .cookie14 {
        @include abs(36%, 30%);
        width: 4%;
    }









}





















