// アニメーションのKeyframes
@include keyframes (page06_dummy) {
    0%   { @include rotateZ(0deg); }
    30%  { @include rotateZ(5deg); }
    50%  { @include rotateZ(-15deg); }
    65%  { @include rotateZ(-10deg); }
    80%  { @include rotateZ(-12deg); }
    100% { @include rotateZ(0deg); }
}



// スタイルの指定
[data-page="6"] {

    // .dummy {
    //     @include abs(0%, 0%);
    //     width: 100%;
    //     opacity: .5;
    // }

    .box {
        @include abs(-3%, 6%);
        width: 91%;
    }
    .plate {
        @include abs(47%, 18%);
        width: 50%;
    }
    .cookie {
        &.pos1 {@include abs(54%, 29%); width: 6.5%;}
        &.pos2 {@include abs(54%, 39.6%); width: 6.5%;}
        &.pos3 {@include abs(54%, 50%); width: 6.5%;}
        &.pos4 {@include abs(64%, 26.4%); width: 7%;}
        &.pos5 {@include abs(64%, 39%); width: 7%;}
        &.pos6 {@include abs(64%, 51%); width: 7%;}
        &.pos7 {@include abs(73.6%, 23.6%); width: 8%;}
        &.pos8 {@include abs(73.6%, 38%); width: 8%;}
        &.pos9 {@include abs(73.6%, 53%); width: 8%;}
    }
    .num10 {
        @include abs(29%, 17%);
        width: 50%;
    }
    .num9 {
        @include abs(29%, 17%);
        width: 50%;
    }
    .num8 {
        @include abs(29%, 17%);
        width: 50%;
    }
    .num7 {
        @include abs(29%, 17%);
        width: 50%;
    }
    .num6 {
        @include abs(29%, 17%);
        width: 50%;
    }
    .num5 {
        @include abs(29%, 17%);
        width: 50%;
    }
    .num4 {
        @include abs(29%, 17%);
        width: 50%;
    }
    .num3 {
        @include abs(29%, 17%);
        width: 50%;
    }
    .num2 {
        @include abs(29%, 17%);
        width: 50%;
    }
    .num1 {
        @include abs(29%, 17%);
        width: 50%;
    }
    .chara1 {
        @include abs(27%, 30%);
        width: 20%;
    }
    .chara2 {
        @include abs(27%, 30%);
        width: 20%;
    }
    .chara3 {
        @include abs(27%, 30%);
        width: 20%;
    }


































}