// アニメーションのKeyframes
@include keyframes (page00_dummy) {
    0%   { @include rotateZ(0deg); }
    30%  { @include rotateZ(5deg); }
    50%  { @include rotateZ(-15deg); }
    65%  { @include rotateZ(-10deg); }
    80%  { @include rotateZ(-12deg); }
    100% { @include rotateZ(0deg); }
}


// ロゴ
@include keyframes (page00_logo) {
    0%   { @include rotateZ(0deg); }
    40%  { @include rotateZ(0deg); }
    41%  { @include rotateZ(2deg); }
    42%  { @include rotateZ(-2deg); }
    43%  { @include rotateZ(0deg); }
    100% { @include rotateZ(0deg); }    
}
@include keyframes (page00_logo_tap) {
    0%   { @include rotateZ(0deg); }
    10%  { @include rotateZ(21deg); }
    11%  { @include rotateZ(20deg); }
    80%  { @include rotateZ(00deg); }
    100% { @include rotateZ(0deg); }    
}

// タイトル
@include keyframes (page00_word_pop) {
    0%   { @include translateY(0px); }
    50%  { @include translateY(0px); }
    51%  { @include translateY(-10px); }
    55%  { @include translateY(0px); }
    100% { @include translateY(0px); }
}

// オスカー（通常）
@include keyframes (page00_os_normal_armswing) {
    0%   { @include rotateZ(0deg); }
    50%  { @include rotateZ(0deg); }
    51%  { @include rotateZ(-10deg); }
    52%  { @include rotateZ(0deg); }
    53%  { @include rotateZ(10deg); }
    54%  { @include rotateZ(0deg); }
    55%  { @include rotateZ(-10deg); }
    56%  { @include rotateZ(0deg); }
    100% { @include rotateZ(0deg); }
}
// オスカー（タップ時）
@include keyframes (page00_os_anim_shadow) {
    0%   { @include rotateZ(0deg); }
    100% { @include rotateZ(0deg); }
}
@include keyframes (page00_os_anim_body) {
    0%   { @include scale(1, 1); }
    10%  { @include scale(1, 1); }
    15%  { @include scale(0, 0); }
    70%  { @include scale(0, 0); }
    75%  { @include scale(1, 1); }
    100% { @include scale(1, 1); }
}
@include keyframes (page00_os_anim_face) {
    0%   { @include scale(1, 1); }
    10%  { @include scale(1, 1); }
    15%  { @include scale(0, 0); }
    70%  { @include scale(0, 0); }
    75%  { @include scale(1, 1); }
    100% { @include scale(1, 1); }
}
@include keyframes (page00_os_anim_leftarm) {
    0%   { @include scale(1, 1); }
    5%   { @include scale(1, 1); }
    10%  { @include scale(0, 0); }
    80%  { @include scale(0, 0); }
    85%  { @include scale(1, 1); }
    100% { @include scale(1, 1); }
}
@include keyframes (page00_os_anim_box) {
    0%   { @include rotateZ(0deg); }
    50%  { @include rotateZ(0deg); }
    51%  { @include rotateZ(-7deg);}
    52%  { @include rotateZ(0deg); }
    52%  { @include rotateZ(7deg);}
    53%  { @include rotateZ(0deg); }
    54%  { @include rotateZ(-7deg);}
    55%  { @include rotateZ(0deg); }
    100% { @include rotateZ(0deg); }
}
@include keyframes (page00_os_anim_rightarm) {
    0%   { opacity: 1; }
    9%   { opacity: 1; }
    10%  { opacity: 0; }
    90%  { opacity: 0; }
    91%  { opacity: 1; }
    100% { opacity: 1; }
}
@include keyframes (page00_os_anim_cover) {
    0%   { @include rotateZ(0deg);}
    10%  { @include rotateZ(0deg);}
    15%  { @include rotateZ(15deg);}

    50%  { @include rotateZ(15deg); }
    51%  { @include rotateZ(8deg);}
    52%  { @include rotateZ(15deg); }
    52%  { @include rotateZ(22deg);}
    53%  { @include rotateZ(15deg); }
    54%  { @include rotateZ(8deg);}
    55%  { @include rotateZ(15deg); }

    70%  { @include rotateZ(15deg);}
    75%  { @include rotateZ(0deg);}
    100% { @include rotateZ(0deg);}
}
@include keyframes (page00_os_anim_cover2) {
    0%   { @include translate(0%, 0%);}
    10%  { @include translate(0%, 0%);}
    15%  { @include translate(2%, 13%);}
    70%  { @include translate(2%, 13%);}
    75%  { @include translate(0%, 0%);}
    100% { @include translate(0%, 0%);}
}


// スタイルの指定
[data-page="0"] {


    .logoArea {
        @include common-wrapper;
        // Normal
        @include transform-origin(49%, 15%);
        @include animation(page00_logo 7s infinite);
        // Click
        &.anim {
            @include transform-origin(41%, 15%);
            @include animation(page00_logo_tap 2s);
        }
    }
    .logo {
        position: absolute;
        top: 2.9%;
        left: 25%;
        width: 45%;
    }
    .tapLogo {
        @include abs(5%, 31%);
        width: 37%;
        height: 21%;
        // z-index: 2;
        background-color: rgba(255,255,255,.01);
    }

    // .title {
    //     position: absolute;
    //     top: 22%;
    //     left: 14%;
    //     width: 70%;
    //     opacity: .5;
    // }
    .wordWrapper {
        @include common-wrapper;
        @include transform-origin(48.6%, 40%);
        // @include debug-transform-origin(48.6%, 40%);
        -webkit-transition: -webkit-transform 500ms ease-in-out;
        -moz-transition: -moz-transform 500ms ease-in-out;
        transition: transform 300ms ease-in-out;
        &.scale {
            // TODO 画像が粗くなってしまう..
            @include transform(scale(1.7, 1.7) !important);
        }
    }
    .word01 {
        @include abs(24.6%, 28.8%);
        width: 12.5%;
        @include animation(page00_word_pop 15s infinite 0ms);
    }
    .word02 {
        @include abs(24.6%, 36%);
        width: 12.5%;
        @include animation(page00_word_pop 15s infinite 50ms);
    }
    .word03 {
        @include abs(24.6%, 43.3%);
        width: 12.5%;
        @include animation(page00_word_pop 15s infinite 100ms);
    }
    .word04 {
        @include abs(24.6%, 50.6%);
        width: 12.5%;
        @include animation(page00_word_pop 15s infinite 150ms);
    }
    .word05 {
        @include abs(24.6%, 58%);
        width: 12.5%;
        @include animation(page00_word_pop 15s infinite 200ms);
    }
    .word06 {
        @include abs(38%, 11.4%);
        width: 12.5%;
        @include animation(page00_word_pop 15s infinite 250ms);
    }
    .word07 {
        @include abs(38%, 18.6%);
        width: 12.5%;
        @include animation(page00_word_pop 15s infinite 300ms);
    }
    .word08 {
        @include abs(38%, 26%);
        width: 12.5%;
        @include animation(page00_word_pop 15s infinite 350ms);
    }
    .word09 {
        @include abs(38%, 33%);
        width: 12.5%;
        @include animation(page00_word_pop 15s infinite 400ms);
    }
    .word10 {
        @include abs(38%, 40%);
        width: 12.5%;
        @include animation(page00_word_pop 15s infinite 450ms);
    }
    .word11 {
        @include abs(38%, 47%);
        width: 12.5%;
        @include animation(page00_word_pop 15s infinite 500ms);
    }
    .word12 {
        @include abs(38%, 54%);
        width: 12.5%;
        @include animation(page00_word_pop 15s infinite 550ms);
    }
    .word13 {
        @include abs(38%, 61.4%);
        width: 12.5%;
        @include animation(page00_word_pop 15s infinite 600ms);
    }
    .word14 {
        @include abs(38%, 68.3%);
        width: 12.5%;
        @include animation(page00_word_pop 15s infinite 650ms);
    }
    .word15 {
        @include abs(37.4%, 75.5%);
        width: 12.5%;
        @include animation(page00_word_pop 15s infinite 700ms);
    }
    .tapWord {
        position: absolute;
        width: 8%;
        height: 13%;
        background-color: rgba(255,255,255,.01);
        &.pos1  {top: 27%; left: 31%;}
        &.pos2  {top: 27%; left: 38%;}
        &.pos3  {top: 27%; left: 45%;}
        &.pos4  {top: 27%; left: 53%;}
        &.pos5  {top: 27%; left: 60%;}
        &.pos6  {top: 40.4%; left: 13%;}
        &.pos7  {top: 40.4%; left: 20%;}
        &.pos8  {top: 40.4%; left: 27%;}
        &.pos9  {top: 40.4%; left: 34%;}
        &.pos10 {top: 40.4%; left: 42%;}
        &.pos11 {top: 40.4%; left: 49%;}
        &.pos12 {top: 40.4%; left: 56%;}
        &.pos13 {top: 40.4%; left: 63%;}
        &.pos14 {top: 40.4%; left: 71%;}
        &.pos15 {top: 40.4%; left: 78%;}
    }


    // Oscar
    //===============================
    // .oscar {
    //     position: absolute;
    //     top: 54.3%;
    //     left: 3.5%;
    //     width: 21.1%;
    //     opacity: .4;
    // }
    .osShadow {
        @include abs(88.4%, 7%);
        width: 14%;
    }
    .osBody {
        @include abs(68.7%, 10.6%);
        width: 7.1%;
        @include transform(rotateZ(-5deg));
    }
    .osFace {
        @include abs(59.9%, 7.7%);
        width: 10.9%;
        @include transform(rotateZ(-10deg));
    }
    .osLeftArm {
        @include abs(66.9%, 14.4%);
        width: 6.4%;
    }
    .osBox {
        @include abs(74%, 8.5%);
        width: 11%;
    }
    .osRightArm {
        @include abs(71.1%, 8.5%);
        width: 5.1%;
    }
    .osCover {
        @include abs(58%, 6.2%);
        width: 11.6%;
        @include transform(rotateZ(-15deg));
    }
    // 通常
    .osLeftArmAnim {
        @include common-wrapper;
        @include transform-origin(16.3%, 75.7%);
        // @include debug-transform-origin(16.3%, 75.7%);
        @include animation(page00_os_normal_armswing 8s ease-in-out infinite);
    }
    // タップ時
    .oscarArea {
        @include common-wrapper;
        &.anim {
            $animationDuration: 5s;

            .osShadowAnim {
                @include common-wrapper;
                @include transform-origin(13.3%, 91.6%);
                // @include debug-transform-origin(13.3%, 91.6%);
                @include animation(page00_os_anim_shadow $animationDuration ease-in-out infinite);
            }
            .osBodyAnim {
                @include common-wrapper;
                @include transform-origin(13.3%, 87.6%);
                // @include debug-transform-origin(13.3%, 87.6%);                
                @include animation(page00_os_anim_body $animationDuration ease-in-out infinite);
            }
            .osFaceAnim {
                @include common-wrapper;
                @include transform-origin(13.3%, 87.6%);
                // @include transform-origin(12.5%, 65.6%);
                // @include debug-transform-origin(12.5%, 65.6%);
                @include animation(page00_os_anim_face $animationDuration ease-in-out infinite);
            }
            .osLeftArmAnim {
                @include animation(page00_os_anim_leftarm $animationDuration ease-in-out infinite);
            }
            .osBoxAnim {
                @include common-wrapper;
                @include transform-origin(13.5%, 88.6%);
                // @include debug-transform-origin(13.5%, 88.6%);
                @include animation(page00_os_anim_box $animationDuration ease-in-out infinite);
            }
            .osRightArmAnim {
                @include common-wrapper;
                @include animation(page00_os_anim_rightarm $animationDuration ease-in-out infinite);
            }
            .osCoverAnim {
                @include common-wrapper;
                @include transform-origin(12%, 61%);
                // @include debug-transform-origin(12%, 61%);
                @include animation(page00_os_anim_cover $animationDuration ease-in-out infinite);
            }
            .osCoverAnim2 {
                @include common-wrapper;
                // @include transform-origin(12%, 61%);
                // // @include debug-transform-origin(12%, 61%);
                @include animation(page00_os_anim_cover2 $animationDuration ease-in-out infinite);
            }

        }
    }
    .tapOscar {
        position: absolute;
        top: 58%;
        left: 7%;
        width: 14%;
        height: 37%;
        background-color: rgba(0,0,0,.01);
    }





    .bert {
        position: absolute;
        top: 55.5%;
        left: 20%;
        width: 17%;
    }

    .cookieMonster {
        position: absolute;
        top: 54.3%;
        left: 36.2%;
        width: 21.7%;
    }

    .elmo {
        position: absolute;
        top: 58.8%;
        left: 56%;
        width: 21%;
    }

    .bigBird {
        position: absolute;
        top: 56%;
        left: 73.4%;
        width: 21%;
    }
}