// アニメーションのKeyframes

// ------------------------------------------------------
// クッキーモンスター
// @see .cookie-monster
// ------------------------------------------------------
// 目
// ------------------------------------------------------
@include keyframes (page02_CookieMonster_eye) {
  0%   { @include scale(1,1); }
  50%  { @include scale(1.1,1.1); }
  100% { @include scale(1,1); }
}
// おくち
// ------------------------------------------------------
@include keyframes (page02_CookieMonster_mouse) {
  0%   { @include scale(1,1); }
  50%  { @include scale(1.1,1.1); }
  100% { @include scale(1,1); }
}
// 手＋クッキー
// ------------------------------------------------------
@include keyframes (page02_CookieMonster_hand) {
  0%   { @include rotateZ(0deg); }
  50%  { @include rotateZ(-20deg); }
  100% { @include rotateZ(0deg); }
}
// 手＋クッキーの動線
// ------------------------------------------------------
@include keyframes (page02_CookieMonster_hand_move) {
  0%   { @include rotateZ(0deg); }
  50%  { @include rotateZ(-20deg); }
  100% { @include rotateZ(0deg); }
}
// 涙　左
// ------------------------------------------------------
@include keyframes (page02_CookieMonster_tear_l_1) {
  0%   { opacity: 0; @include translate3d(2%, 1%, 0);}
  10%  { opacity: 0; }
  20%  { opacity: 1; }
  50%  { opacity: 1; }
  60%  { opacity: 0; }
  100% { opacity: 0; @include translate3d(-60%, -66%, 0);}
}
@include keyframes (page02_CookieMonster_tear_l_2) {
  0%   { opacity: 0; @include translate3d(4%, 0, 0);}
  20%  { opacity: 0; }
  30%  { opacity: 1; }
  70%  { opacity: 1; }
  80%  { opacity: 0; }
  100% { opacity: 0; @include translate3d(-63%, 65%, 0);}
}
@include keyframes (page02_CookieMonster_tear_l_3) {
  0%   { opacity: 0; @include translate3d(10%, -2%, 0);}
  20%  { opacity: 0; }
  30%  { opacity: 1; }
  50%  { opacity: 1; }
  60%  { opacity: 0; }
  100% { opacity: 0; @include translate3d(-60%, 65%, 0); }
}
// 涙　右
// ------------------------------------------------------
@include keyframes (page02_CookieMonster_tear_r_1) {
  0%   { opacity: 0; @include translate3d(-2%, -1%, 0);}
  10%  { opacity: 0; }
  20%  { opacity: 1; }
  50%  { opacity: 1; }
  60%  { opacity: 0; }
  100% { opacity: 0; @include translate3d(60%, -66%, 0);}
}
@include keyframes (page02_CookieMonster_tear_r_2) {
  0%   { opacity: 0; @include translate3d(-4%, 0, 0);}
  20%  { opacity: 0; }
  30%  { opacity: 1; }
  50%  { opacity: 1; }
  60%  { opacity: 0; }
  100% { opacity: 0; @include translate3d(63%, 65%, 0);}
}
@include keyframes (page02_CookieMonster_tear_r_3) {
  0%   { opacity: 0; @include translate3d(-10%, -2%, 0);}
  10%  { opacity: 0; }
  20%  { opacity: 1; }
  50%  { opacity: 1; }
  60%  { opacity: 0; }
  100% { opacity: 0; @include translate3d(60%, 65%, 0);}
}

// ------------------------------------------------------
// 池+クッキー
// @see .pool
// ------------------------------------------------------
// クッキーのかけら
// ------------------------------------------------------
@include keyframes (page02_CookieMonster_tips_1) {
  0%   { opacity: 0;}
  20%  { opacity: 1; }
  50%  { opacity: 1; }
  60%  { opacity: 0; }
  100% { opacity: 0; @include translate3d(0, 56%, 0);}
}
@include keyframes (page02_CookieMonster_tips_2) {
  0%   { opacity: 0;}
  20%  { opacity: 0; }
  50%  { opacity: 1; }
  60%  { opacity: 1; }
  100% { opacity: 0; @include translate3d(0, 53%, 0);}
}
// 池の中のクッキー
// ------------------------------------------------------
@include keyframes (page02_pool__cookie) {
  0%   { @include rotateZ(0deg); }
  50%  { @include rotateZ(5deg); }
  100%  { @include rotateZ(0deg); }
}

// ------------------------------------------------------
// 吹き出し
// @see .fukidashi
// ------------------------------------------------------
@include keyframes (page02_Fukidashi__delay_1) {
  0%   { opacity: 0;}
  99%   { opacity: 0;}
  100%  { opacity: 1; }
}
@include keyframes (page02_Fukidashi__scale) {
  0%   { @include scale(1); }
  25%  { @include scale(1,1.1); }
  50% { @include scale(1); }
  75%  { @include scale(1.1,1); }
  100% { @include scale(1); }
}


// ------------------------------------------------------
// バート
// @see .bert
// ------------------------------------------------------


// ------------------------------------------------------
// エルモ
// @see .elmo
// ------------------------------------------------------
@include keyframes (page02_elmo__move) {
    0%   { @include translate(0%, 0%);}
    20%  { @include translate(1000%, 0%);}
    80%  { @include translate(1000%, 0%);}
    100% { @include translate(0%, 0%);}
}


// ------------------------------------------------------
// バート
// @see .bert
// ------------------------------------------------------
// 拡大
@include keyframes (page02_bert__scale) {
  0%   { @include scale(1); }
  20% { @include scale(1.5); }
  80% { @include scale(1.5); }
  100% { @include scale(1); }
}


// ------------------------------------------------------
// オスカー
// @see .oscar
// ------------------------------------------------------
// バケツの震え
@include keyframes (page02_oscar__baletsu_rotate_1) {
  0%   { @include rotateZ(0deg); }
  25%  { @include rotateZ(-5deg); }
  50%  { @include rotateZ(-0deg); }
  75%  { @include rotateZ(5deg); }
  100% { @include rotateZ(0deg); }
}
// フタが吹っ飛ぶ動き
@include keyframes (page02_oscar__futa_jump) {
    0%   { @include translate(0%, 0%);}
    20%  { @include translate(0%, -400%);}
    80%  { @include translate(0%, -400%);}
    100% { @include translate(0%, -200%);}
}
// オスカーの手が出現
@include keyframes (page02_oscar__delay_1) {
  0%   { opacity: 0;}
  99%   { opacity: 0;}
  100%  { opacity: 1; }
}
// オスカーの顔が出現
@include keyframes (page02_oscar__face) {
  0%   { opacity: 0; @include translate(0%, 40%);}
  40%  { opacity: 0; @include translate(0%, 40%);}
  50%  { opacity: 1; }
  100% { opacity: 1;}
}
// オスカージャンプ
@include keyframes (page02_oscar__jump) {
    0%   { @include translate(0%, 0%);}
    20%  { @include translate(0%, -40%);}
    40%  { @include translate(0%, 0%);}
    60%  { @include translate(0%, -80%);}
    80%  { @include translate(0%, 0%);}
    100% { @include translate(0%, -40%);}
}



// スタイルの指定
[data-page="2"] {
    // ここにスタイルを記入.

    // Cookie Monster
    // ------------------------------------------------------
    // ベースポジション
    .cookie-monster {
      position: absolute;
      width: 25%;
      height: 70%;
      top: 15%;
      left: 10%;
    }
    // 身体
    .cookie-monster__body{
      width: 100%;
      @include abs(0, 0);
    }
    // 目
    .cookie-monster__eye{
      width: 20%;
      @include abs(4%, 44%);
      @include animation(page02_CookieMonster_mouse 0.2s infinite 1.5s);
    }
    // おくち
    .cookie-monster__mouse{
      width: 44%;
      @include abs(14.5%, 36%);
      @include animation(page02_CookieMonster_mouse 0.2s infinite 1.5s);
    }
    // 手＋クッキー
    .cookie-monster__hand{
      width: 90%;
      @include abs(28%, 43%);
      @include animation(page02_CookieMonster_hand .5s 3);
      @include transform-origin( 0, 100% );
    }
    .cookie-monster__hand--02{
      width: 90%;
      @include abs(28%, 43%);
      &.is-tap--anim{
        @include animation(page02_CookieMonster_hand .1s 10);
        @include transform-origin( 0, 100% );
      }
    }
    // 手＋クッキーの動線
    // .cookie-monster__move{
    //   width: 23%;
    //   @include abs(20%, 120%);
    //   @include animation(page02_CookieMonster_hand_move 1s infinite);
    //   @include transform-origin( 0, 100% );
    // }
    // クッキーのかけら
    .cookie-monster__tips-1{
      width: 10%;
      @include abs(56%, 95%);
      @include animation(page02_CookieMonster_tips_1 .5s 3);
      z-index: 2;
    }
    .cookie-monster__tips-2{
      width: 12%;
      @include abs(53%, 103%);
      @include animation(page02_CookieMonster_tips_2 .5s 3);
      z-index: 2;
    }
    // 涙　左
    .cookie-monster__tear-l-1{
      width: 20%;
      @include abs(2%, 10%);
      @include animation(page02_CookieMonster_tear_l_1 1s infinite ease-in-out);
    }
    .cookie-monster__tear-l-2{
      width: 13%;
      @include abs(8%, 8%);
      @include animation(page02_CookieMonster_tear_l_2 1s infinite ease-in 200ms);
    }
    .cookie-monster__tear-l-3{
      width: 13%;
      @include abs(8%, -4%);
      @include animation(page02_CookieMonster_tear_l_3 1s infinite ease-in 700ms);
    }
    // 涙　右
    .cookie-monster__tear-r-1{
      width: 20%;
      @include abs(2%, 76%);
      @include animation(page02_CookieMonster_tear_r_1 1s infinite ease-in-out 300ms); 
    }
    .cookie-monster__tear-r-2{
      width: 13%;
      @include abs(8%, 86%);
      @include animation(page02_CookieMonster_tear_r_2 1s infinite ease-in 500ms);
    }
    .cookie-monster__tear-r-3{
      width: 13%;
      @include abs(7%, 98%);
      @include animation(page02_CookieMonster_tear_r_3 1s infinite ease-in 1000ms);  
    }


    // 水たまり＋クッキー
    // ------------------------------------------------------
    // ベースポジション
    .pool {
      position: absolute;
      width: 40%;
      height: 36%;
      bottom: 18%;
      left: 33%;
    }
    // みずたまり
    .pool__water{
      width: 100%;
      @include abs(0, 0);
    }
    // クッキー共通
    .pool__cookie {
      width: 100%;
    }
    // 動線共通
    .pool__cookie-move--1 {
      width: 30%;
      @include abs(-6%, -15%);
    }
    .pool__cookie-move--2 {
      width: 60%;
      @include abs(76%, 47%);
    }
    // クッキーの位置
    .pool__cookie--1{
      width: 20%;
      @include abs(30%, 33%);
      @include animation(page02_pool__cookie 2s infinite ease-in);
    }
    .pool__cookie--2{
      width: 20%;
      @include abs(18%, 55%);
      @include animation(page02_pool__cookie 2s infinite ease-in 300ms);
    }
    .pool__cookie--3{
      width: 20%;
      @include abs(55%, 55%);
      @include animation(page02_pool__cookie 2s infinite ease-in 500ms);
    }
    // クッキータップした時に出てくる注意文
    .pool__caution{
      width: 150%;
      @include abs(-80%, -25%);
      z-index: 1;
      // @include animation(page02_pool__cookie 2s infinite ease-in 500ms);
    }


    // ビッグバード
    // ------------------------------------------------------
    // ベースポジション
    .bigbird {
      position: absolute;
      width: 8%;
      height: 30%;
      top: 20%;
      left: 53%;
    }
    // 身体
    .bigbird__body{
      width: 100%;
      @include abs(0, 0);
      &.bigbird__body--02 {
        width: 122%;
      }
    }


    // エルモ
    // ------------------------------------------------------
    // ベースポジション
    .elmo {
      position: absolute;
      width: 8%;
      height: 30%;
      top: 26%;
      left: 61%;
      &.is-tap--anim {
        @include animation(page02_elmo__move 1.5s ease-in);
      }
    }
    // 身体
    .elmo__body{
      width: 100%;
      @include abs(0, 0);
    }


    // バート
    // ------------------------------------------------------
    // ベースポジション
    .bert {
      position: absolute;
      width: 8%;
      height: 30%;
      top: 24%;
      left: 68%;
      &.is-tap--anim {
        z-index: 1;
        @include animation(page02_bert__scale 2s ease-in);
      }
    }
    // 身体
    .bert__body{
      width: 100%;
      @include abs(0, 0);
    }


    // オスカー
    // ------------------------------------------------------
    // ベースポジション
    .oscar {
      position: absolute;
      width: 8%;
      height: 30%;
      top: 18%;
      left: 76%;
      &.is-tap--anim {
        @include animation(page02_oscar__jump 1s);
      }
    }
    // 顔
    .oscar__face{
      width: 90%;
      @include abs(6%, 12%);
      @include animation(page02_oscar__face 0.5s 1 ease-in);
    }
    // 身体
    .oscar__body{
      width: 100%;
      @include abs(0, 0);
    }
    // 右手
    .oscar__hand--r{
      width: 50%;
      @include abs(18%, 72%);
      @include animation(page02_oscar__delay_1 0.2s ease-in-out 1);
    }
    // バケツ
    .oscar__baketsu{
      width: 84%;
      @include abs(40%, 18%);
      // @include animation(page02_oscar__baletsu_rotate_1 .5s infinite);
    }
    // 左手
    .oscar__hand--l{
      width: 40%;
      @include abs(36%, 9%);
      @include animation(page02_oscar__delay_1 0.2s ease-in-out 1);
    }
    // フタ
    .oscar__futa{
      width: 84%;
      @include abs(32%, 19%);
      @include animation(page02_oscar__futa_jump 1s 5s);
      // @include animation(page02_oscar__baletsu_rotate_1 .5s infinite);
      &.oscar__futa--stop {
        @include abs(1%, 19%);
      }
    }


    // 吹き出し
    // ------------------------------------------------------
    // ベースポジション
    .fukidashi {
      position: absolute;
      width: 10%;
      height: 10%;
      top: 10%;
      left: 63%;
    }
    // まるいの１
    .fukidashi__circle--1{
      width: 127%;
      position: absolute;
      top: 101%;
      left: -13%;
      @include animation(page02_Fukidashi__delay_1 .5s ease-in-out 1);
    }
    // まるいの２
    .fukidashi__circle--2{
      width: 100%;
      position: absolute;
      top: 84%;
      left: 0;
      @include animation(page02_Fukidashi__delay_1 1s ease-in-out 1);
    }
    // バルーン
    .fukidashi__balloon{
      width: 100%;
      @include abs(0, 0);
      @include animation(page02_Fukidashi__delay_1 1.5s ease-in-out 1,page02_Fukidashi__scale 2s infinite ease-in-out);
    }
    // ビックリマーク
    .fukidashi__em{
      width: 12%;
      position: absolute;
      top: 29%;
      left: 42%;
      @include animation(page02_Fukidashi__delay_1 2s ease-in-out 1);
    }
}
