// クッキーモンスターが泣いているシーン

@include keyframes (page01_anim_arm) {
  0%   { @include rotateZ(0deg); }
  30%  { @include rotateZ(5deg); }
  50%  { @include rotateZ(-15deg); }
  65%  { @include rotateZ(-10deg); }
  80%  { @include rotateZ(-12deg); }
  100% { @include rotateZ(0deg); }
}


@include keyframes (page01_anim_drop) {
  0%   { opacity: 0; @include translate3d(-2%, -1%, 0);}
  10%   { opacity: 0; }
  20%   { opacity: 1; }
  50%   { opacity: 1; }
  60%   { opacity: 0; }
  100%   { opacity: 0; @include translate3d(10%, -6%, 0);}
}
@include keyframes (page01_anim_drop2) {
  0%   { opacity: 0; @include translate3d(-4%, 0, 0);}
  20%   { opacity: 0; }
  30%   { opacity: 1; }
  70%   { opacity: 1; }
  80%   { opacity: 0; }
  100%   { opacity: 0; @include translate3d(3%, 5%, 0);}
}
@include keyframes (page01_anim_drop3) {
  0%   { opacity: 0; @include translate3d(-10%, -2%, 0);}
  20%   { opacity: 0; }
  30%   { opacity: 1; }
  50%   { opacity: 1; }
  60%   { opacity: 0; }
  100%   { opacity: 0; @include translate3d(10%, 5%, 0);}
}
@include keyframes (page01_anim_drop4) {
  0%   { opacity: 0; @include translate3d(2%, 1%, 0);}
  10%   { opacity: 0; }
  20%   { opacity: 1; }
  50%   { opacity: 1; }
  60%   { opacity: 0; }
  100%   { opacity: 0; @include translate3d(-10%, -6%, 0);}
}
@include keyframes (page01_anim_drop5) {
  0%   { opacity: 0; @include translate3d(4%, 0, 0);}
  20%   { opacity: 0; }
  30%   { opacity: 1; }
  70%   { opacity: 1; }
  80%   { opacity: 0; }
  100%   { opacity: 0; @include translate3d(-3%, 5%, 0);}
}
@include keyframes (page01_anim_drop6) {
  0%   { opacity: 0; @include translate3d(10%, -2%, 0);}
  20%   { opacity: 0; }
  30%   { opacity: 1; }
  50%   { opacity: 1; }
  60%   { opacity: 0; }
  100%   { opacity: 0; @include translate3d(-10%, 5%, 0);}
}


[data-page="1"] {

    .body {
        position: absolute;
        bottom: 6%;
        left: 0;
        width: 90%;
    }
    .box {
    	position: absolute;
    	top: 44%;
    	right: 9%;
    	width: 35%;
    }
    .arm {
    	position: absolute;
    	top: 55%;
    	left: 38%;
    	width: 43%;
    }

	.armAnim {
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 100%;
		@include transform-origin(41.8% 68.2%);
		// -webkit-animation: page01_arm_anim 1s infinite;
        @include animation(page01_anim_arm 1s infinite);
		// debug
		// &:after {
		// 	position: absolute;
		// 	top: 68.2%;
		// 	left: 41.8%;
		// 	width: 10px;
		// 	height: 10px;
		// 	content: " ";
		// 	background-color: red;
		// }
	}

    .sholder {
        position: absolute;
        top: 59%;
        left: 36%;
        width: 11%;
        height: 16%;
        @include transform-origin(50% 50%);
        @include rotateZ(-10deg);
        background-color: #009fe8;
        // @include background-image(radial-gradient(rgba(0,159,232,1) 0%, rgba(0,159,232,1) 90%, rgba(0,159,232,0) 100%));
        border-radius: 200px;
    }

    .drop1, .drop2, .drop3, .drop4, .drop5, .drop6 {
    	position: absolute;
    	@include transform-origin(50% 50%);
    }
    .drop1 {
    	top: 12%;
    	right: 37%;
    	width: 16%;
    	@include rotateZ(-15deg);
    }
    .drop2 {
    	top: 21%;
    	right: 35%;
    	width: 11%;
    	@include rotateZ(12deg);
    }
    .drop3 {
    	top: 19%;
    	right: 27%;
    	width: 11%;
    	@include rotateZ(6deg);
    }
    .drop4 {
    	top: 20%;
    	left: 9%;
    	width: 16%;
    }
    .drop5 {
    	top: 31%;
    	left: 9%;
    	width: 11%;
    	@include rotateZ(-33deg);
    }
    .drop6 {
    	top: 32%;
    	left: 0%;
    	width: 11%;
    	@include rotateZ(-25deg);
    }
    .drop1Anim, .drop2Anim, .drop3Anim, .drop4Anim, .drop5Anim, .drop6Anim {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .drop1Anim {
        @include animation(page01_anim_drop 1s infinite ease-in-out);        
    }
    .drop2Anim {
        @include animation(page01_anim_drop2 1s infinite ease-in 200ms);
    }
    .drop3Anim {
        @include animation(page01_anim_drop3 1s infinite ease-in 700ms);        
    }
    .drop4Anim {
        @include animation(page01_anim_drop4 1s infinite ease-in-out 300ms);        
    }
    .drop5Anim {
        @include animation(page01_anim_drop5 1s infinite ease-in 500ms);
    }
    .drop6Anim {
        @include animation(page01_anim_drop6 1s infinite ease-in 1000ms);        
    }



    .dummyText {
        font-size: 13px;
        position: absolute;
        top: 0;
        right: 0;
    }
}