// アニメーションのKeyframes
@include keyframes (page08_dummy) {
    0%   { @include rotateZ(0deg); }
    30%  { @include rotateZ(5deg); }
    50%  { @include rotateZ(-15deg); }
    65%  { @include rotateZ(-10deg); }
    80%  { @include rotateZ(-12deg); }
    100% { @include rotateZ(0deg); }
}



// スタイルの指定
[data-page="8"] {

    .elmo {
        @include abs(19%, 6%);
        width: 19.5%;
    }
    .bert {
        @include abs(49.4%, 2.8%);
        width: 18.7%;
    }
    // ._cookieMonster {
    //     @include abs(7.2%, 19.3%);
    //     width: 61.4%;
    //     opacity: .3;
    // }
    .cookieMonster {
        @include abs(9.2%, 20%);
        width: 58.5%;
    }
    .bigBird {
        @include abs(8%, 75.1%);
        width: 20.6%;
    }
    .oscar {
        @include abs(53.9%, 76.3%);
        width: 20.4%;
    }


    .cookie1 {
        @include abs(44%, 66%);
        width: 10%;        
    }
    .cookie2 {
        @include abs(47%, 69%);
        width: 10%;        
    }
    .cookie3 {
        @include abs(41%, 63%);
        width: 10%;        
    }
    .cookie4 {
        @include abs(41%, 68%);
        width: 10%;        
    }
    .cookie5 {
        @include abs(20%, 52%);
        width: 10%;        
    }
    .cookie6 {
        @include abs(24%, 42%);
        width: 8%;        
    }
    .cookie7 {
        @include abs(33%, 36%);
        width: 8%;        
    }
    .cookie8 {
        @include abs(41%, 41%);
        width: 6%;        
    }
    .cookie9 {
        @include abs(34%, 48%);
        width: 5%;        
    }
    .cookie10 {
        @include abs(32%, 56%);
        width: 6%;        
    }
    .cookie11 {
        @include abs(15%, 48%);
        width: 5%;        
    }
    .cookie12 {
        @include abs(24%, 40%);
        width: 3%;        
    }
    .cookie13 {
        @include abs(27%, 33%);
        width: 5%;        
    }
    .cookie14 {
        @include abs(36%, 30%);
        width: 4%;        
    }









}





















