// アニメーションのKeyframes
@include keyframes (page06_box_anim) {
    0%   { @include rotateZ(0deg); }

    1%  { @include rotateZ(0deg); }
    2%  { @include rotateZ(-5deg); }
    3%  { @include rotateZ(0deg); }
    4%  { @include rotateZ(5deg); }
    5%  { @include rotateZ(0deg); }

    31%  { @include rotateZ(0deg); }
    32%  { @include rotateZ(-5deg); }
    33%  { @include rotateZ(0deg); }
    34%  { @include rotateZ(5deg); }
    35%  { @include rotateZ(0deg); }

    51%  { @include rotateZ(0deg); }
    52%  { @include rotateZ(-5deg); }
    53%  { @include rotateZ(0deg); }
    54%  { @include rotateZ(5deg); }
    55%  { @include rotateZ(0deg); }

    71%  { @include rotateZ(0deg); }
    72%  { @include rotateZ(-5deg); }
    73%  { @include rotateZ(0deg); }
    74%  { @include rotateZ(5deg); }
    75%  { @include rotateZ(0deg); }

    100% { @include rotateZ(0deg); }
}



// スタイルの指定
[data-page="6"] {

    .description {
        @include abs(5%, 17%);
        width: 65%;
    }

    .box {
        @include abs(2%, 6%);
        width: 91%;
    }
    .plate {
        @include abs(52%, 18%);
        width: 50%;
    }
    .cookie {
        &.pos1 {@include abs(59%, 29%); width: 6.5%;}
        &.pos2 {@include abs(59%, 39.6%); width: 6.5%;}
        &.pos3 {@include abs(59%, 50%); width: 6.5%;}
        &.pos4 {@include abs(69%, 26.4%); width: 7%;}
        &.pos5 {@include abs(69%, 39%); width: 7%;}
        &.pos6 {@include abs(69%, 51%); width: 7%;}
        &.pos7 {@include abs(78.6%, 23.6%); width: 8%;}
        &.pos8 {@include abs(78.6%, 38%); width: 8%;}
        &.pos9 {@include abs(78.6%, 53%); width: 8%;}
    }
    .num10 {
        @include abs(34%, 17%);
        width: 50%;
    }
    .num9 {
        @include abs(34%, 17%);
        width: 50%;
    }
    .num8 {
        @include abs(34%, 17%);
        width: 50%;
    }
    .num7 {
        @include abs(34%, 17%);
        width: 50%;
    }
    .num6 {
        @include abs(34%, 17%);
        width: 50%;
    }
    .num5 {
        @include abs(34%, 17%);
        width: 50%;
    }
    .num4 {
        @include abs(34%, 17%);
        width: 50%;
    }
    .num3 {
        @include abs(34%, 17%);
        width: 50%;
    }
    .num2 {
        @include abs(34%, 17%);
        width: 50%;
    }
    .num1 {
        @include abs(34%, 17%);
        width: 50%;
    }
    .chara1 {
        @include abs(32%, 30%);
        width: 25%;
    }
    .chara2 {
        @include abs(32%, 30%);
        width: 25%;
        @include transition(all 1.2s ease-in-out);
        &.move {
            @include transform(translateX(160%));
        }
    }
    .chara3 {
        @include abs(32%, 28%);
        width: 28%;
    }

    
    // プレートエリア
    .plateArea {
        @include abs(0, 0);
        width: 100%;
        height: 100%;
    }
    &.anim {
        .plateArea {
            @include transition(all 1.5s ease-out 1.5s);
            opacity: 0;
            @include translate3d(-2%, -5%, -200px, 300px);
        }
    }


    // レンジアニメーション
    .box {
        &.anim {
            @include transform-origin(50%, 50%);
            @include animation(page06_box_anim .7s ease-in-out);
        }
    }


    // タップエリア
    .tapAreaCount {
        @include abs(24%, 17%);
        width: 52%;
        height: 62%;
        background-color: rgba(255,255,255,.001);
    }
    .tapAreaButton {
        @include abs(22%, 15%);
        width: 55%;
        height: 66%;
        background-color: rgba(255,255,255,.001);
    }

}



































