//
// page00のスタイル - ロゴ
//

@include keyframes (page00_logo) {
    0%   { @include rotateZ(0deg); }
    40%  { @include rotateZ(0deg); }
    41%  { @include rotateZ(2deg); }
    42%  { @include rotateZ(-2deg); }
    43%  { @include rotateZ(0deg); }
    100% { @include rotateZ(0deg); }    
}
@include keyframes (page00_logo_tap) {
    0%   { @include rotateZ(0deg); }
    10%  { @include rotateZ(21deg); }
    11%  { @include rotateZ(20deg); }
    80%  { @include rotateZ(00deg); }
    100% { @include rotateZ(0deg); }    
}


[data-page="0"] {

    .logoArea {
        @include common-wrapper;
        // Normal
        @include transform-origin(49%, 15%);
        @include animation(page00_logo 7s infinite);
        // Click
        &.anim {
            @include transform-origin(41%, 15%);
            @include animation(page00_logo_tap 2s);
        }
    }
    .logo {
        position: absolute;
        top: 2.9%;
        left: 25%;
        width: 45%;
    }
    .tapLogo {
        @include abs(5%, 31%);
        width: 37%;
        height: 21%;
        // z-index: 2;
        background-color: rgba(255,255,255,.01);
    }

}

