// クッキーモンスターが泣いているシーン
[data-page="1"] {

    .body {
        position: absolute;
        bottom: 6%;
        left: 0;
        width: 90%;
    }
    .box {
    	position: absolute;
    	top: 48%;
    	right: 2%;
    	width: 35%;
    }
    .arm {
    	position: absolute;
    	top: 55%;
    	left: 43%;
    	width: 46%;
    }
    .drop1, .drop2, .drop3, .drop4, .drop5, .drop6 {
    	position: absolute;
    	@include transform-origin(50% 50%);
    }
    .drop1 {
    	top: 12%;
    	right: 37%;
    	width: 16%;
    	@include rotateZ(-15deg);
    }
    .drop2 {
    	top: 21%;
    	right: 35%;
    	width: 11%;
    	@include rotateZ(12deg);
    }
    .drop3 {
    	top: 19%;
    	right: 27%;
    	width: 11%;
    	@include rotateZ(12deg);
    }
    .drop4 {
    	top: 20%;
    	left: 9%;
    	width: 16%;
    }
    .drop5 {
    	top: 31%;
    	left: 9%;
    	width: 11%;
    	@include rotateZ(-33deg);
    }
    .drop6 {
    	top: 32%;
    	left: 0%;
    	width: 11%;
    	@include rotateZ(-45deg);
    }



    .dummyText {
        font-size: 13px;
        position: absolute;
        top: 0;
        right: 0;
    }
}