// クッキーモンスターが泣いているシーン

@include keyframes (page01_anim_arm) {
  0%   { @include rotateZ(0deg); }
  30%  { @include rotateZ(5deg); }
  50%  { @include rotateZ(-15deg); }
  65%  { @include rotateZ(-10deg); }
  80%  { @include rotateZ(-12deg); }
  100% { @include rotateZ(0deg); }
}


@include keyframes (page01_anim_drop) {
  0%   { opacity: 0; @include translate3d(-2%, -1%, 0);}
  10%   { opacity: 0; }
  20%   { opacity: 1; }
  50%   { opacity: 1; }
  60%   { opacity: 0; }
  100%   { opacity: 0; @include translate3d(10%, -6%, 0);}
}
@include keyframes (page01_anim_drop2) {
  0%   { opacity: 0; @include translate3d(-4%, 0, 0);}
  20%   { opacity: 0; }
  30%   { opacity: 1; }
  70%   { opacity: 1; }
  80%   { opacity: 0; }
  100%   { opacity: 0; @include translate3d(3%, 5%, 0);}
}
@include keyframes (page01_anim_drop3) {
  0%   { opacity: 0; @include translate3d(-10%, -2%, 0);}
  20%   { opacity: 0; }
  30%   { opacity: 1; }
  50%   { opacity: 1; }
  60%   { opacity: 0; }
  100%   { opacity: 0; @include translate3d(10%, 5%, 0);}
}
@include keyframes (page01_anim_drop4) {
  0%   { opacity: 0; @include translate3d(2%, 1%, 0);}
  10%   { opacity: 0; }
  20%   { opacity: 1; }
  50%   { opacity: 1; }
  60%   { opacity: 0; }
  100%   { opacity: 0; @include translate3d(-10%, -6%, 0);}
}
@include keyframes (page01_anim_drop5) {
  0%   { opacity: 0; @include translate3d(4%, 0, 0);}
  20%   { opacity: 0; }
  30%   { opacity: 1; }
  70%   { opacity: 1; }
  80%   { opacity: 0; }
  100%   { opacity: 0; @include translate3d(-3%, 5%, 0);}
}
@include keyframes (page01_anim_drop6) {
  0%   { opacity: 0; @include translate3d(10%, -2%, 0);}
  20%   { opacity: 0; }
  30%   { opacity: 1; }
  50%   { opacity: 1; }
  60%   { opacity: 0; }
  100%   { opacity: 0; @include translate3d(-10%, 5%, 0);}
}

@include keyframes (page01_anim_boxRotate) {
  0%   { @include rotateZ(0deg);}
  100% { @include rotateZ(359deg);} // for webkit bag.
}


[data-page="1"] {

    * {
        // @include animation(none !important);
    }

    .body {
        position: absolute;
        bottom: -57%;
        left: 0;
        width: 90%;
        .portrait & {
          bottom: 6%;
          left: -40%;
          width: 150%;
          z-index: 2;
        }
    }
    .box {
    	position: absolute;
    	top: 44%;
    	right: 9%;
    	width: 35%;
        .portrait & {
          top: 58%;
          right: 2%;
          width: 44%;
        }

        &.rotateAnim {
            @include animation(page01_anim_boxRotate 500ms);
        }
    }
    .arm {
    	position: absolute;
    	top: 55%;
    	left: 38%;
    	width: 43%;
      .portrait & {
        top: 66%;
        left: 25%;
        width: 63%;
      }
    }

	.armAnim {
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 100%;
		@include transform-origin(41.8% 68.2%);
		// -webkit-animation: page01_arm_anim 1s infinite;
        @include animation(page01_anim_arm 1s infinite);
		// debug
		// &:after {
		// 	position: absolute;
		// 	top: 68.2%;
		// 	left: 41.8%;
		// 	width: 10px;
		// 	height: 10px;
		// 	content: " ";
		// 	background-color: red;
		// }

        // .portrait & {
        //   z-index: 2;
        // }

        &.stop {
            @include animation(none);
        }
	}

    .eye {
        position: absolute;
        top: 5.5%;
        left: 19.5%;
        width: 23.5%;
        // .portrait & {
        //   top: 39.5%;
        //   left: 5.5%;
        //   width: 30.5%;
        //   z-index: 2;          
        // }
    }

    .sholder {
        position: absolute;
        top: 59%;
        left: 36%;
        width: 11%;
        height: 19%;
        @include transform-origin(50% 50%);
        @include rotateZ(-10deg);
        background-color: #009fe8;
        // @include background-image(radial-gradient(rgba(0,159,232,1) 0%, rgba(0,159,232,1) 90%, rgba(0,159,232,0) 100%));
        border-radius: 200px;

        // .portrait & {
        //   top: 65%;
        //   left: 21%;
        //   width: 22%;
        //   height: 17%;
        //   z-index: 2;
        // }
    }

    .drop1, .drop2, .drop3, .drop4, .drop5, .drop6 {
    	position: absolute;
    	@include transform-origin(50% 50%);
    }
    .drop1 {
    	top: 4%;
    	right: 37%;
    	width: 16%;
    	@include rotateZ(-15deg);
      // .portrait & {
      //   top: 34%;
      //   right: 37%;
      //   width: 23%;
      // }
    }
    .drop2 {
    	top: 13%;
    	right: 35%;
    	width: 11%;
    	@include rotateZ(12deg);
      // .portrait & {
      //   top: 41%;
      //   right: 35%;
      //   width: 14%;
      // }
    }
    .drop3 {
    	top: 11%;
    	right: 27%;
    	width: 11%;
    	@include rotateZ(6deg);
      // .portrait & {
      //   top: 39%;
      //   right: 27%;
      //   width: 11%;
      // }
    }
    .drop4 {
    	top: 12%;
    	left: 9%;
    	width: 16%;
      // .portrait & {
      //   top: 36%;
      //   left: -1%;
      //   width: 16%;
      // }
    }
    .drop5 {
    	top: 23%;
    	left: 9%;
    	width: 11%;
    	@include rotateZ(-33deg);
      // .portrait & {
      //   top: 43%;
      //   left: -1%;
      //   width: 11%;
      // }
    }
    .drop6 {
    	top: 24%;
    	left: 0%;
    	width: 11%;
    	@include rotateZ(-25deg);
      // .portrait & {
      //   display: none;
      // }
    }
    .drop1Anim, .drop2Anim, .drop3Anim, .drop4Anim, .drop5Anim, .drop6Anim {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .drop1Anim {
        @include animation(page01_anim_drop 1s infinite ease-in-out);        
    }
    .drop2Anim {
        @include animation(page01_anim_drop2 1s infinite ease-in 200ms);
    }
    .drop3Anim {
        @include animation(page01_anim_drop3 1s infinite ease-in 700ms);        
    }
    .drop4Anim {
        @include animation(page01_anim_drop4 1s infinite ease-in-out 300ms);        
    }
    .drop5Anim {
        @include animation(page01_anim_drop5 1s infinite ease-in 500ms);
    }
    .drop6Anim {
        @include animation(page01_anim_drop6 1s infinite ease-in 1000ms);        
    }


    //
    // タップエリア
    //================================
    .boxTap {
        position: absolute;
        top: 37%;
        left: 52%;
        width: 40%;
        height: 50%;
        background-color: rgba(0,0,255,.001); // Android対応.
        z-index: 2;
    }

    .bodyTap {
        position: absolute;
        top: 19%;
        left: 18%;
        width: 34%;
        height: 70%;
        background-color: rgba(0,0,255,.001); // Android対応.
        z-index: 2;
    }






}