<div class="content hidden" data-page="3">
    <div class="canvas">
        <!-- ballon -->
        <div class="ballonArea jsBallonArea">
            <img class="ballon-small pattern01" src="./img/page03/ballon/ballon01.svg">
            <img class="ballon-small pattern02" src="./img/page03/ballon/ballon01.svg">
            <img class="ballon-small pattern03" src="./img/page03/ballon/ballon01.svg">
            <img class="ballon-middle pattern01" src="./img/page03/ballon/ballon01.svg">
            <img class="ballon-middle pattern02" src="./img/page03/ballon/ballon01.svg">
            <img class="ballon-middle pattern03" src="./img/page03/ballon/ballon01.svg">
            <img class="ballon" src="./img/page03/ballon/ballon02.svg">
            <div class="character jsBallonCharacter">
              <img class="CookieMonster" src="./img/page03/ballon/CookieMonster.svg">
            </div>
            <img class="ballon jsBallonTap" src="./img/page03/ballon/ballon03.svg">
        </div>


        <!-- bert -->
        <div class="bertArea jsBertArea">
            <img class="bert-body" src="./img/page03/bert/body.svg">
            <img class="bert-hair" src="./img/page03/bert/hair.svg">
            <img class="bert-hand" src="./img/page03/bert/hand.svg">
        </div>

    </div>
</div>
