<div class="content hidden" data-page="3">
    <div class="canvas">
        <!-- ballon -->
        <div class="ballonArea jsBallonArea">
            <img class="ballon-small pattern01" src="./img/page03/ballon/ballon01.svg">
            <img class="ballon-small pattern02" src="./img/page03/ballon/ballon01.svg">
            <img class="ballon-small pattern03" src="./img/page03/ballon/ballon01.svg">
            <img class="ballon-middle pattern01" src="./img/page03/ballon/ballon01.svg">
            <img class="ballon-middle pattern02" src="./img/page03/ballon/ballon01.svg">
            <img class="ballon-middle pattern03" src="./img/page03/ballon/ballon01.svg">
            <img class="ballon" src="./img/page03/ballon/ballon02.svg">
            <div class="character jsBallonCharacter">
              <img class="CookieMonster" src="./img/page03/ballon/CookieMonster.svg">
            </div>
            <img class="ballon jsBallonTap" src="./img/page03/ballon/ballon03.svg">
        </div>


        <!-- bert -->
        <div class="bertArea jsBertArea">
            <img class="bert-body" src="./img/page03/bert/body.svg">
            <img class="bert-eye left jsEye" src="./img/page03/bert/eye.svg">
            <img class="bert-eye right jsEye" src="./img/page03/bert/eye.svg">
            <img class="bert-hair" src="./img/page03/bert/hair.svg">
            <img class="bert-hand" src="./img/page03/bert/hand.svg">
        </div>

        <!-- bigbird -->
        <div class="bigbirdArea jsBigbirdArea">
            <img class="bigbird-tail" src="./img/page03/bigbird/tail.svg">
            <img class="bigbird-hand jsBigbirdHand" src="./img/page03/bigbird/hand.svg">
            <img class="bigbird-body" src="./img/page03/bigbird/body.svg">
            <img class="bigbird-eye left jsEye" src="./img/page03/bigbird/eye-left.svg">
            <img class="bigbird-eye right jsEye" src="./img/page03/bigbird/eye-right.svg">
        </div>

        <!-- elmo -->
        <div class="elmoArea jsElmoArea">
            <img class="elmo-hand" src="./img/page03/elmo/hand.svg">
            <img class="elmo-body" src="./img/page03/elmo/body.svg">
            <img class="elmo-eye left jsEye" src="./img/page03/elmo/eye.svg">
            <img class="elmo-eye right jsEye" src="./img/page03/elmo/eye.svg">
        </div>


        <!-- oscar -->
        <div class="oscarArea jsOscarArea">
            <img class="oscar-head jsOscar1" src="./img/page03/oscar/head.svg">
            <img class="oscar-eye left jsEye jsOscar1" src="./img/page03/oscar/eye.svg">
            <img class="oscar-eye right jsEye jsOscar1" src="./img/page03/oscar/eye.svg">
            <img class="oscar-dustbox jsOscar1" src="./img/page03/oscar/dustbox.svg">
            <img class="oscar-dustbox2 jsOscar2" src="./img/page03/oscar/dustbox2.svg">
        </div>


    </div>
</div>
